Workflows/cycle0__GroupsList-EAD81545-25DB-EA11-A815-000D3AF42A37.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_9ad14"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_outlook": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoutlook_63eeb"
        },
        "api": {
          "name": "shared_outlook"
        }
      },
      "shared_flowmanagement": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedflowmanagement_f1091"
        },
        "api": {
          "name": "shared_flowmanagement"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "envpar_conn_sharedsharepointonline (new_envpar_conn_sharedsharepointonline)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_conn_sharedsharepointonline",
            "description": "Enter space character ( ) for none. Filled automatically."
          }
        },
        "envpar_config__TenantName (new_envpar_config__TenantName)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__TenantName",
            "description": "Required. Org Name orgname (this is the prefix of the auto assigned domain orgname.onmicrosoft.com)"
          }
        },
        "envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__CycleZeroName",
            "description": "Required. Could have many environments N each with its envN_cycle0 template"
          }
        },
        "envpar_config__AdminId (new_envpar_config__AdminId)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__AdminId",
            "description": "Admin UID. Enter space character ( ) for none. Filled automatically."
          }
        },
        "envpar_config__TenantDomain (new_envpar_config__TenantDomain)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__TenantDomain",
            "description": "Required. Org Domain name such as orgname.onmicrosoft.com or orgname.com"
          }
        },
        "envpar_config__GraphAppId (new_envpar_config__GraphAppId)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__GraphAppId",
            "description": "Service Principal Id for Graph Api. Enter space character ( ) for none. Filled automatically."
          }
        },
        "envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__GraphAppSecret",
            "description": "Service Principal Secret for Graph Api. Enter space character ( ) for none. Filled automatically."
          }
        },
        "envpar_config__CyclesRename (new_envpar_config__CyclesRename)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__CyclesRename",
            "description": "Required. Rename cycle to class, for example. So now class1, ... classN"
          }
        },
        "envpar_id__AllFlows (new_envpar_id__AllFlows)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_id__AllFlows",
            "description": "UIDs of all Template Flows as json object. Enter space character { } for none. Filled automatically."
          }
        },
        "envpar_http__AzureAD_Signed (new_envpar_http__AzureAD_Signed)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_http__AzureAD_Signed",
            "description": "This flow HTTP trigger URL. Enter space character ( ) for none. Filled automatically."
          }
        },
        "envpar_config__OwnerEmail (new_envpar_config__OwnerEmail)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__OwnerEmail",
            "description": "Owner (Billing, Cycles,...) Email. Enter space character ( ) for none"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "c9a2be28-d03c-4315-a075-6c55f2ddb1d3"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {
                "TenantDomain": {
                  "type": "string"
                },
                "CycleGroupName": {
                  "type": "string"
                },
                "CycleGroupOwnerId": {
                  "type": "string"
                },
                "Cycle1GroupName": {
                  "type": "string"
                },
                "IsCycle1": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      },
      "actions": {
        "Initialize_variable_CycleGroupId": {
          "runAfter": {
            "Initialize_variable_CycleGroupOwner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "9bbe05ca-9a43-4363-bf8f-b94d7af5123a"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CycleGroupId",
                "type": "string"
              }
            ]
          }
        },
        "Get_items_GroupsList": {
          "runAfter": {
            "Condition_Get_Post_process": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "afa50f9b-5019-485e-a247-4af71d2a8576"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_sharepointonline",
              "operationId": "GetItems",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
            },
            "parameters": {
              "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
              "table": "GroupsList",
              "$filter": "Cycle1GroupName eq '@{triggerBody()?['Cycle1GroupName']}'"
            },
            "authentication": "@parameters('$authentication')"
          }
        },
        "Condition_grouplist_item_not_exist": {
          "actions": {
            "Condition_5": {
              "actions": {
                "Create_item_GroupsList": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "3db04e8a-40a1-4ba6-af32-05bc830d410c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "PostItem",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                      "table": "GroupsList",
                      "item/Title": "@triggerBody()?['CycleGroupName']",
                      "item/CyclesGroupOwner": "@variables('CycleGroupOwner')",
                      "item/CyclesGroupOwnerId": "@triggerBody()?['CycleGroupOwnerId']",
                      "item/Cycle1GroupId": "@variables('CycleGroupId')",
                      "item/Cycle1GroupName": "@triggerBody()?['CycleGroupName']",
                      "item/CyclesGroups": "@'[]'"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Send_an_email_(V2)": {
                  "runAfter": {
                    "Create_item_GroupsList": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "498e5560-7c27-48e9-938f-994a9be3bdee"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_outlook",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_outlook"
                    },
                    "parameters": {
                      "emailMessage/To": "@variables('CycleGroupOwner')",
                      "emailMessage/Subject": "[WorkSchool 365] Your cycle @{triggerBody()?['CycleGroupName']} has been created. Connection info.",
                      "emailMessage/Body": "<p>Congratulations! Here is the connection configuration via the WorkSchool 365 Teams app, to connect to your own cycle within this workschool.<br>\n<br>\n1. Domain name of WorkSchool (sharepoint tenant name):<br>\n@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}<br>\n<br>\n2. Group name of Cycle (sharepoint site name):<br>\n@{triggerBody()?['CycleGroupName']}<br>\n<br>\n3. Workflow URL of Enrollment (power automate flow url):<br>\n@{parameters('envpar_http__AzureAD_Signed (new_envpar_http__AzureAD_Signed)')}<br>\n<br>\n-----<br>\n<br>\nHere are other info for direct-connection via the web browser, to connect to your own cycle within this workschool.<br>\n<br>\nA. URL for users Sign-in/up form (Azure AD):<br>\n@{parameters('envpar_http__AzureAD_Signed (new_envpar_http__AzureAD_Signed)')}&amp;state=%2Fsign/@{triggerBody()?['CycleGroupName']}<br>\n<br>\nB. URL for users Sign-in/up with email hint pre-filled in the form (Azure AD):<br>\n@{parameters('envpar_http__AzureAD_Signed (new_envpar_http__AzureAD_Signed)')}&amp;state=%2Fsign_up_email/@{triggerBody()?['CycleGroupName']}&amp;email=example@example<br>\n<br>\n--<br>\nWorkSchool 365<br>\n<br>\n</p>",
                      "emailMessage/Cc": "@parameters('envpar_config__OwnerEmail (new_envpar_config__OwnerEmail)')"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "expression": {
                "equals": [
                  "@triggerBody()?['IsCycle1']",
                  "@true"
                ]
              },
              "metadata": {
                "operationMetadataId": "aedc5a14-97cf-4be8-8da6-25525dae2ae7"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Get_items_GroupsList": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each_2": {
                "foreach": "@outputs('Get_items_GroupsList')?['body/value']",
                "actions": {
                  "Condition_6": {
                    "actions": {},
                    "runAfter": {},
                    "else": {
                      "actions": {
                        "Filter_array_2": {
                          "runAfter": {
                            "Parse_JSON": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "21e95a1a-5065-41d9-8b21-b602720d9e3b"
                          },
                          "type": "Query",
                          "inputs": {
                            "from": "@body('Parse_JSON')",
                            "where": "@equals(item()['CyclesGroupName'], triggerBody()?['CycleGroupName'])"
                          }
                        },
                        "Parse_JSON": {
                          "runAfter": {
                            "Get_item_GroupsList": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "752a0d7a-4e85-40f5-8e9a-ca588ec45dbf"
                          },
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@json(outputs('Get_item_GroupsList')?['body/CyclesGroups'])",
                            "schema": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "CyclesGroupName": {
                                    "type": "string"
                                  },
                                  "CyclesGroupId": {
                                    "type": "string"
                                  },
                                  "StripePrices": {
                                    "type": "string"
                                  },
                                  "MicrosoftPrices": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "CyclesGroupName",
                                  "CyclesGroupId",
                                  "StripePrices",
                                  "MicrosoftPrices"
                                ]
                              }
                            }
                          }
                        },
                        "Get_item_GroupsList": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "ca8e1525-cc05-49f7-a946-2377041996c7"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sharepointonline",
                              "operationId": "GetItem",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                            },
                            "parameters": {
                              "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                              "table": "GroupsList",
                              "id": "@items('Apply_to_each_2')?['ID']"
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Condition_7": {
                          "actions": {
                            "Update_item_GroupsList": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "986cd6c0-7de1-4151-ae98-3dfd9787ce81"
                              },
                              "type": "OpenApiConnection",
                              "inputs": {
                                "host": {
                                  "connectionName": "shared_sharepointonline",
                                  "operationId": "PatchItem",
                                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                },
                                "parameters": {
                                  "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                                  "table": "GroupsList",
                                  "id": "@outputs('Get_item_GroupsList')?['body/ID']",
                                  "item/Title": "@outputs('Get_item_GroupsList')?['body/Title']",
                                  "item/CyclesGroups": "@string(union(json(concat('[ { \"CyclesGroupName\" : \"',  triggerBody()?['CycleGroupName']  , '\", \"CyclesGroupId\" : \"',  variables('CycleGroupId')   , '\" , \"StripePrices\" : \"\" , \"MicrosoftPrices\" : \"\" } ]')),\r\nbody('Parse_JSON') ))"
                                },
                                "authentication": "@parameters('$authentication')"
                              }
                            }
                          },
                          "runAfter": {
                            "Filter_array_2": [
                              "Succeeded"
                            ]
                          },
                          "expression": {
                            "equals": [
                              "@length(body('Filter_array_2'))",
                              0
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "36a0b045-28cd-445e-b75f-d4844ef19c0f"
                          },
                          "type": "If"
                        }
                      }
                    },
                    "expression": {
                      "equals": [
                        "@triggerBody()?['IsCycle1']",
                        "@true"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "fec22618-42e6-4e9b-8cdb-1b511316c829"
                    },
                    "type": "If"
                  }
                },
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "ea689158-336d-4242-87c6-350576c1f338"
                },
                "type": "Foreach"
              }
            }
          },
          "expression": {
            "equals": [
              "@length(outputs('Get_items_GroupsList')?['body/value'])",
              0
            ]
          },
          "metadata": {
            "operationMetadataId": "538b090a-9bc5-4355-9122-573c04bb5bfd"
          },
          "type": "If"
        },
        "Initialize_variable_CycleGroupOwner": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "4845de51-befb-45d6-83cb-8de8710dc9b5"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "CycleGroupOwner",
                "type": "string"
              }
            ]
          }
        },
        "Response": {
          "runAfter": {
            "Condition_grouplist_item_not_exist": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "b1c1e403-76a9-4adb-ae7c-b8bcf5aa87a1"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "headers": {
              "content-type": "application/json"
            },
            "body": {
              "CycleGroupId": "@{variables('CycleGroupId')}"
            },
            "schema": {
              "type": "object",
              "properties": {
                "CycleGroupId": {
                  "type": "string"
                }
              }
            }
          }
        },
        "HTTP_Get_user": {
          "runAfter": {
            "Initialize_variable_varRoleDefUpdate": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ad74b4e1-f040-4109-9507-c161f90c46f0"
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://graph.microsoft.com/v1.0/users/@{triggerBody()?['CycleGroupOwnerId']}",
            "headers": {
              "Content-type": "application/json"
            },
            "authentication": {
              "type": "ActiveDirectoryOAuth",
              "tenant": "@triggerBody()?['TenantDomain']",
              "audience": "https://graph.microsoft.com",
              "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
              "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
            }
          }
        },
        "Set_variable_CycleGroupOwner": {
          "runAfter": {
            "HTTP_Get_user": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "46776258-121d-4062-aeec-8bd29a3d7dd6"
          },
          "type": "SetVariable",
          "inputs": {
            "name": "CycleGroupOwner",
            "value": "@{body('HTTP_Get_user')?['mail']}"
          }
        },
        "HTTP_2": {
          "runAfter": {
            "Set_variable_CycleGroupOwner": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "1ec54bc6-1e0b-4b15-b972-f6a49d3b02a9"
          },
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://graph.microsoft.com/v1.0/groups?$filter=mailNickname eq '@{triggerBody()?['CycleGroupName']}'",
            "authentication": {
              "type": "ActiveDirectoryOAuth",
              "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
              "audience": "https://graph.microsoft.com",
              "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
              "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
            }
          }
        },
        "Condition_group_not_exists": {
          "actions": {
            "Scope_Create_Group_Team": {
              "actions": {
                "HTTP_5": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "fd124899-6933-4dfd-94ba-bca75f6bec35"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://graph.microsoft.com/v1.0/groups",
                    "headers": {
                      "Content-type": "application/json"
                    },
                    "body": {
                      "displayName": "@{triggerBody()?['CycleGroupName']}",
                      "mailNickname": "@{triggerBody()?['CycleGroupName']}",
                      "visibility": "@{if(triggerBody()?['IsCycle1'], 'Public', 'Private')}",
                      "groupTypes": [
                        "Unified"
                      ],
                      "mailEnabled": true,
                      "securityEnabled": true,
                      "owners@odata.bind": "@union(createArray(concat('https://graph.microsoft.com/v1.0/users/', triggerBody()?['CycleGroupOwnerId'])), createArray(concat('https://graph.microsoft.com/v1.0/users/', parameters('envpar_config__AdminId (new_envpar_config__AdminId)'))))"
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                      "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                    }
                  }
                },
                "Set_variable_2": {
                  "runAfter": {
                    "HTTP_5": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5d108a49-f2db-42f2-85ca-311ecc390efd"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "CycleGroupId",
                    "value": "@{body('HTTP_5')?['id']}"
                  }
                },
                "HTTP_6": {
                  "runAfter": {
                    "Delay_150sec": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "21a9c620-9285-46ae-9d51-2232c47e33cd"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://graph.microsoft.com/v1.0/teams",
                    "headers": {
                      "Content-type": "application/json"
                    },
                    "body": {
                      "template@odata.bind": "https://graph.microsoft.com/v1.0/teamsTemplates('standard')",
                      "group@odata.bind": "https://graph.microsoft.com/v1.0/groups('@{variables('CycleGroupId')}')",
                      "channels": [
                        {
                          "displayName": "EventReview",
                          "isFavoriteByDefault": true,
                          "tabs": [
                            {
                              "teamsApp@odata.bind": "https://graph.microsoft.com/v1.0/appCatalogs/teamsApps('com.microsoft.teamspace.tab.web')",
                              "name": "MySubscriptions",
                              "configuration": {
                                "contentUrl": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['Cycle1GroupName']}/Lists/MySubscriptions"
                              }
                            },
                            {
                              "teamsApp@odata.bind": "https://graph.microsoft.com/v1.0/appCatalogs/teamsApps('com.microsoft.teamspace.tab.web')",
                              "name": "EventReview",
                              "configuration": {
                                "contentUrl": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}/EventReview"
                              }
                            }
                          ]
                        }
                      ],
                      "memberSettings": {
                        "allowCreateUpdateChannels": false,
                        "allowDeleteChannels": false,
                        "allowAddRemoveApps": false,
                        "allowCreateUpdateRemoveTabs": false,
                        "allowCreateUpdateRemoveConnectors": false
                      },
                      "installedApps": [
                        {
                          "teamsApp@odata.bind": "https://graph.microsoft.com/v1.0/appCatalogs/teamsApps('com.microsoft.teamspace.tab.vsts')"
                        },
                        {
                          "teamsApp@odata.bind": "https://graph.microsoft.com/v1.0/appCatalogs/teamsApps('1542629c-01b3-4a6d-8f76-1938b779e48d')"
                        }
                      ]
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                      "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                    }
                  }
                },
                "Scope_RoleAssignments": {
                  "actions": {
                    "HTTP_SharePoint_Remove_Members_Edit": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "ad35f1bb-7c72-44bc-a462-811468d9de48"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/roleassignments/removeroleassignment(principalid=@{outputs('Compose_SiteGroupIdMembers')}, roledefid=@{outputs('Compose_Edit_RoleDefinition_')})",
                          "parameters/headers": {
                            "accept": "application/json;odata=verbose",
                            "content-type": "application/json;odata=verbose"
                          }
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "HTTP_SharePoint_Add_Members_Read": {
                      "runAfter": {
                        "HTTP_SharePoint_Remove_Members_Edit": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "cb4f3572-d27f-4088-a44b-c91eb5237a1d"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/roleassignments/addroleassignment(principalid=@{outputs('Compose_SiteGroupIdMembers')}, roledefid=@{outputs('Compose_Read_RoleDefinition')})",
                          "parameters/headers": {
                            "accept": "application/json;odata=verbose",
                            "content-type": "application/json;odata=verbose"
                          }
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "HTTP_SharePoint_Post_RoleDefinition": {
                      "runAfter": {
                        "HTTP_SharePoint_Add_Members_Read": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "c89da0f2-ffb0-49e2-85b3-dd97b346fe5e"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/roledefinitions",
                          "parameters/headers": {
                            "accept": "application/json;odata=verbose",
                            "content-type": "application/json;odata=verbose"
                          },
                          "parameters/body": "{\n              \"__metadata\": {\n                \"type\": \"SP.RoleDefinition\"\n              },\n              \"BasePermissions\": {\n                \"__metadata\": {\n                  \"type\": \"SP.BasePermissions\"\n                },\n                \"High\": \"0\",\n                \"Low\": \"196615\"\n              },\n              \"Description\": \"\",\n              \"Hidden\": false,\n              \"Name\": \"@{outputs('Compose_ItemsViewAddUpdateNoDelete')}\",\n              \"Order\": 2147483647,\n              \"RoleTypeKind\": 0\n            }"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Parse_JSON_RoleDefinition": {
                      "runAfter": {
                        "HTTP_SharePoint_Post_RoleDefinition": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7dd8d840-7078-41c3-bf52-96abb6e4f6c7"
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('HTTP_SharePoint_Post_RoleDefinition')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "d": {
                              "type": "object",
                              "properties": {
                                "__metadata": {
                                  "type": "object",
                                  "properties": {
                                    "id": {
                                      "type": "string"
                                    },
                                    "uri": {
                                      "type": "string"
                                    },
                                    "type": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "BasePermissions": {
                                  "type": "object",
                                  "properties": {
                                    "__metadata": {
                                      "type": "object",
                                      "properties": {
                                        "type": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "High": {
                                      "type": "string"
                                    },
                                    "Low": {
                                      "type": "string"
                                    }
                                  }
                                },
                                "Description": {
                                  "type": "string"
                                },
                                "Hidden": {
                                  "type": "boolean"
                                },
                                "Id": {
                                  "type": "integer"
                                },
                                "Name": {
                                  "type": "string"
                                },
                                "Order": {
                                  "type": "integer"
                                },
                                "RoleTypeKind": {
                                  "type": "integer"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "HTTP_SharePoint_Add_Members_ItemsViewAddUpdateNoDelete": {
                      "runAfter": {
                        "Set_variable_varRoleDefUpdate": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "cae0eecb-7834-4576-b5f0-d542fca0a4dc"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/roleassignments/addroleassignment(principalid=@{outputs('Compose_SiteGroupIdMembers')}, roledefid=@{body('Parse_JSON_RoleDefinition')?['d']?['Id']})",
                          "parameters/headers": {
                            "accept": "application/json;odata=verbose",
                            "content-type": "application/json;odata=verbose"
                          }
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_variable_varRoleDefUpdate": {
                      "runAfter": {
                        "Parse_JSON_RoleDefinition": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "b5df3610-68f1-4ba1-83e5-6a95eaddc265"
                      },
                      "type": "SetVariable",
                      "inputs": {
                        "name": "varRoleDefUpdate",
                        "value": "@{body('HTTP_SharePoint_Post_RoleDefinition')?['d']?['Id']}"
                      }
                    }
                  },
                  "runAfter": {
                    "Send_an_HTTP_request_to_SharePoint_13": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2bf9d9f1-b157-4408-8520-11815843c467"
                  },
                  "type": "Scope"
                },
                "HTTP_4": {
                  "runAfter": {
                    "HTTP_SharePoint_Theme": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6a88d5f9-79f6-428c-b9e6-646e24a9cd1c"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/groups/@{variables('CycleGroupId')}/sites/root",
                    "headers": {
                      "Content-type": "application/json"
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                      "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                    }
                  }
                },
                "Send_an_HTTP_request_to_SharePoint_13": {
                  "runAfter": {
                    "HTTP_4": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6f92e45c-6f12-43aa-87bf-e7ffb0708f96"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "HttpRequest",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}-admin.sharepoint.com",
                      "parameters/method": "PATCH",
                      "parameters/uri": "_api/SPO.Tenant/sites('@{split(body('HTTP_4')?['id'],',')?[1]}')",
                      "parameters/headers": {
                        "accept": "application/json;odata=verbose",
                        "content-type": "application/json;odata=verbose",
                        "x-http-method": "MERGE",
                        "if-match": "*"
                      },
                      "parameters/body": "{\n    \"__metadata\": {\n        \"type\": \"Microsoft.Online.SharePoint.TenantAdministration.SiteProperties\"\n    },\n\n    \"SharingCapability\": 2,\n    \"DefaultLinkPermission\": 0,\n    \"DefaultSharingLinkType\": 0,\n    \"SharingDomainRestrictionMode\": 0\n}\n"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Delay_150sec": {
                  "runAfter": {
                    "Set_variable_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d271f3e5-5f2f-47bf-b286-b0104fca8929"
                  },
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 150,
                      "unit": "Second"
                    }
                  }
                },
                "Delay_270sec": {
                  "runAfter": {
                    "HTTP_6": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "7d1d4df9-f73a-4514-9030-fe7752a394d4"
                  },
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 270,
                      "unit": "Second"
                    }
                  }
                },
                "HTTP_SharePoint_Theme": {
                  "runAfter": {
                    "Delay_270sec": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8e059c5d-4242-4461-9cc3-cb122f4515b6"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "HttpRequest",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                      "parameters/method": "POST",
                      "parameters/uri": "_api/thememanager/ApplyTheme",
                      "parameters/headers": {
                        "content-type": "application/json;odata=verbose",
                        "accept": "application/json;odata=verbose"
                      },
                      "parameters/body": "{'name':'Dark Blue','themeJson':'{\"backgroundImageUri\":\"\",\"palette\":{\"themePrimary\":{\"R\":58,\"G\":150,\"B\":221,\"A\":255},\"themeLighterAlt\":{\"R\":2,\"G\":6,\"B\":9,\"A\":255},\"themeLighter\":{\"R\":9,\"G\":24,\"B\":35,\"A\":255},\"themeLight\":{\"R\":17,\"G\":45,\"B\":67,\"A\":255},\"themeTertiary\":{\"R\":35,\"G\":90,\"B\":133,\"A\":255},\"themeSecondary\":{\"R\":51,\"G\":133,\"B\":195,\"A\":255},\"themeDarkAlt\":{\"R\":75,\"G\":160,\"B\":225,\"A\":255},\"themeDark\":{\"R\":101,\"G\":174,\"B\":230,\"A\":255},\"themeDarker\":{\"R\":138,\"G\":194,\"B\":236,\"A\":255},\"accent\":{\"R\":58,\"G\":150,\"B\":221,\"A\":255},\"neutralLighterAlt\":{\"R\":29,\"G\":43,\"B\":60,\"A\":255},\"neutralLighter\":{\"R\":34,\"G\":50,\"B\":68,\"A\":255},\"neutralLight\":{\"R\":43,\"G\":61,\"B\":81,\"A\":255},\"neutralQuaternaryAlt\":{\"R\":50,\"G\":68,\"B\":89,\"A\":255},\"neutralQuaternary\":{\"R\":55,\"G\":74,\"B\":95,\"A\":255},\"neutralTertiaryAlt\":{\"R\":79,\"G\":99,\"B\":122,\"A\":255},\"neutralTertiary\":{\"R\":200,\"G\":200,\"B\":200,\"A\":255},\"neutralSecondary\":{\"R\":208,\"G\":208,\"B\":208,\"A\":255},\"neutralPrimaryAlt\":{\"R\":218,\"G\":218,\"B\":218,\"A\":255},\"neutralPrimary\":{\"R\":255,\"G\":255,\"B\":255,\"A\":255},\"neutralDark\":{\"R\":244,\"G\":244,\"B\":244,\"A\":255},\"black\":{\"R\":248,\"G\":248,\"B\":248,\"A\":255},\"white\":{\"R\":24,\"G\":37,\"B\":52,\"A\":255},\"primaryBackground\":{\"R\":24,\"G\":37,\"B\":52,\"A\":255},\"primaryText\":{\"R\":255,\"G\":255,\"B\":255,\"A\":255}},\"cacheToken\":\"\",\"isDefault\":true,\"isInverted\":true,\"version\":\"\"}'}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "46cf8f12-4524-4c40-a20a-b70c1bbb6fa4"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Scope_Def_RoleDefinition": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Set_variable_3": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "d90d9ffb-2242-4590-b2ad-263a45389349"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "CycleGroupId",
                  "value": "@{body('HTTP_2')?['value']?[0]?['id']}"
                }
              },
              "Scope_Cheap": {
                "actions": {
                  "List_My_Flows": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "b2eee637-1ef9-4532-a5be-acae6148cbe7"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_flowmanagement",
                        "operationId": "ListMyFlows",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                      },
                      "parameters": {
                        "environmentName": "@{workflow()?['tags']?['environmentName']}"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  },
                  "Filter_array": {
                    "runAfter": {
                      "List_My_Flows": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ce7d9801-8e26-46d9-bda3-a177e0ec4ca0"
                    },
                    "type": "Query",
                    "inputs": {
                      "from": "@outputs('List_My_Flows')?['body/value']",
                      "where": "@startsWith(item()?['properties/displayName'], concat(triggerBody()?['CycleGroupName'], '__'))"
                    }
                  },
                  "Apply_to_each": {
                    "foreach": "@body('Filter_array')",
                    "actions": {
                      "Turn_On_Flow": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "619a3014-ef78-4b36-8dd7-6a99e5fca96c"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_flowmanagement",
                            "operationId": "StartFlow",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                          },
                          "parameters": {
                            "environmentName": "@{workflow()?['tags']?['environmentName']}",
                            "flowName": "@items('Apply_to_each')?['name']"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    },
                    "runAfter": {
                      "Filter_array": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "aca402bc-0dd8-4305-acf6-34ae377e8e94"
                    },
                    "type": "Foreach"
                  }
                },
                "runAfter": {
                  "Set_variable_3": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "69910d9e-5d8d-49c9-a4df-e0c76926e9a8"
                },
                "type": "Scope"
              },
              "Get_ItemsViewAddUpdateNoDelete_Id": {
                "runAfter": {
                  "Scope_Cheap": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "ad35f1bb-7c72-44bc-a462-811468d9de48"
                },
                "type": "OpenApiConnection",
                "inputs": {
                  "host": {
                    "connectionName": "shared_sharepointonline",
                    "operationId": "HttpRequest",
                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                  },
                  "parameters": {
                    "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                    "parameters/method": "GET",
                    "parameters/uri": "_api/web/roledefinitions/getbyname('@{outputs('Compose_ItemsViewAddUpdateNoDelete')}')",
                    "parameters/headers": {
                      "accept": "application/json;odata=verbose",
                      "content-type": "application/json;odata=verbose"
                    }
                  },
                  "authentication": "@parameters('$authentication')"
                }
              },
              "Set_variable_varRoleDefUpdate_2": {
                "runAfter": {
                  "Get_ItemsViewAddUpdateNoDelete_Id": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "5236c511-5873-44fb-aa24-159de8e67a43"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "varRoleDefUpdate",
                  "value": "@{body('Get_ItemsViewAddUpdateNoDelete_Id')?['d']?['Id']}"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@length(body('HTTP_2')?['value'])",
              "@0"
            ]
          },
          "metadata": {
            "operationMetadataId": "4347c19f-13bc-4cc8-89f2-70bc136e1235"
          },
          "type": "If"
        },
        "Condition_MySubscriptions": {
          "actions": {
            "HTTP_SharePoint_Get_MySubscriptions": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "bf0ca5ba-6657-41f5-be49-c1a6e049399b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                  "parameters/method": "GET",
                  "parameters/uri": "_api/web/lists/getByTitle('MySubscriptions')",
                  "parameters/headers": {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Scope_Get_MySubscriptions": {
              "actions": {
                "Run_a_Child_Flow_4": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "0d82d607-3f41-45aa-9c59-26217d7c8ee7"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "bc0ce95d-c8dc-ea11-a815-000d3af42a37"
                    },
                    "body": {
                      "fromSite": "@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                      "toSite": "@triggerBody()?['CycleGroupName']",
                      "ListTitle": "MySubscriptions"
                    }
                  }
                },
                "Get_Flow_2": {
                  "runAfter": {
                    "Run_a_Child_Flow_4": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2aa69c93-1303-4d14-b63c-8fd9fef2ba0c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_flowmanagement",
                      "operationId": "GetFlow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                    },
                    "parameters": {
                      "environmentName": "@{workflow()?['tags']?['environmentName']}",
                      "flowName": "@{json(parameters('envpar_id__AllFlows (new_envpar_id__AllFlows)'))?['cycle0__MySubscriptions__Template']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Select_2": {
                  "runAfter": {
                    "Get_Flow_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "f488f4a7-42b2-4b9d-b753-3170fca4464c"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Get_Flow_2')?['body/properties/connectionReferences']",
                    "select": {
                      "connectionName": "@item()?['connectionName']",
                      "id": "@item()?['id']"
                    }
                  }
                },
                "Create_Flow_2": {
                  "runAfter": {
                    "Select_2": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "d17024d0-23b4-497d-a69d-7b76bcbd3337"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_flowmanagement",
                      "operationId": "CreateFlow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                    },
                    "parameters": {
                      "environmentName": "@{workflow()?['tags']?['environmentName']}",
                      "Flow/properties/displayName": "@replace(replace(outputs('Get_Flow_2')?['body/properties/displayName'], parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)'), triggerBody()?['CycleGroupName']), 'tplparam_cyclname', triggerBody()?['CycleGroupName'])",
                      "Flow/properties/definition": "@json(replace(replace(replace(string(outputs('Get_Flow_2')?['body/properties/definition']), 'parameters(''envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)'')', concat('''', triggerBody()?['CycleGroupName'], '''')), \r\n'parameters(''envpar_config__TenantName (new_envpar_config__TenantName)'')', concat('''', parameters('envpar_config__TenantName (new_envpar_config__TenantName)'), '''')),\r\n    'tplparam_cyclname', triggerBody()?['CycleGroupName']))",
                      "Flow/properties/state": "Started",
                      "Flow/properties/connectionReferences": [
                        {
                          "connectionName": "@parameters('envpar_conn_sharedsharepointonline (new_envpar_conn_sharedsharepointonline)')",
                          "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        }
                      ]
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "HTTP_SharePoint_Get_MySubscriptions": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "400e2ecd-f977-412c-ac0d-0b14cd6b9e73"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Scope_Get_EventReview": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerBody()?['IsCycle1']",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "b37dfb71-3f7f-4c0e-972a-2bbfced629e3"
          },
          "type": "If"
        },
        "Scope_Get_EventReview": {
          "actions": {
            "HTTP_SharePoint_Get_EventReview": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "bf0ca5ba-6657-41f5-be49-c1a6e049399b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                  "parameters/method": "GET",
                  "parameters/uri": "_api/web/lists/getByTitle('EventReview')",
                  "parameters/headers": {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Scope_EventReview": {
              "actions": {
                "Run_a_Child_Flow_3": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "907fe9c5-470d-4e2a-869e-f7e0f7a6a75d"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "bc0ce95d-c8dc-ea11-a815-000d3af42a37"
                    },
                    "body": {
                      "fromSite": "@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                      "toSite": "@triggerBody()?['CycleGroupName']",
                      "ListTitle": "EventReview"
                    }
                  }
                },
                "HTTP_3": {
                  "runAfter": {
                    "Delay_90sec": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "36b5c97e-1ec9-4806-8900-5710122f757c"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "GET",
                    "uri": "https://graph.microsoft.com/v1.0/sites/@{concat(parameters('envpar_config__TenantName (new_envpar_config__TenantName)'), '.sharepoint.com')}:/sites/@{triggerBody()?['CycleGroupName']}:/drives?$filter=name eq 'EventReview'",
                    "headers": {
                      "Content-type": "application/json"
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                      "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                    }
                  }
                },
                "Get_Flow_3": {
                  "runAfter": {
                    "HTTP_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8125dfd7-286a-46d0-9f6d-997fb5e54f8d"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_flowmanagement",
                      "operationId": "GetFlow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                    },
                    "parameters": {
                      "environmentName": "@{workflow()?['tags']?['environmentName']}",
                      "flowName": "@{json(parameters('envpar_id__AllFlows (new_envpar_id__AllFlows)'))?['cycle0__EventReview__Template']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Select_3": {
                  "runAfter": {
                    "Get_Flow_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "fce681c6-c806-4182-8c53-a526bce19e6c"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Get_Flow_3')?['body/properties/connectionReferences']",
                    "select": {
                      "connectionName": "@item()?['connectionName']",
                      "id": "@item()?['id']"
                    }
                  }
                },
                "Create_Flow_3": {
                  "runAfter": {
                    "Select_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "a9974f7e-696f-4b2f-9553-1e47756133ed"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_flowmanagement",
                      "operationId": "CreateFlow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                    },
                    "parameters": {
                      "environmentName": "@{workflow()?['tags']?['environmentName']}",
                      "Flow/properties/displayName": "@replace(replace(outputs('Get_Flow_3')?['body/properties/displayName'], parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)'), triggerBody()?['CycleGroupName']), 'tplparam_cyclname', triggerBody()?['CycleGroupName'])",
                      "Flow/properties/definition": "@json(replace(replace(replace(replace(replace(string(outputs('Get_Flow_3')?['body/properties/definition']), 'parameters(''envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)'')', concat('''', triggerBody()?['CycleGroupName'], '''')),\r\n'parameters(''envpar_config__TenantName (new_envpar_config__TenantName)'')', concat('''', parameters('envpar_config__TenantName (new_envpar_config__TenantName)'), '''')),\r\n    'tplparam_cycldriveid', body('HTTP_3')?['value']?[1]?['id']),\r\n    'tplparam_cyclaltname', triggerBody()?['Cycle1GroupName']),\r\n    'tplparam_cyclname', triggerBody()?['CycleGroupName']))",
                      "Flow/properties/state": "Started",
                      "Flow/properties/connectionReferences": [
                        {
                          "connectionName": "@parameters('envpar_conn_sharedsharepointonline (new_envpar_conn_sharedsharepointonline)')",
                          "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        }
                      ]
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Get_Flow_EventReview_Delete": {
                  "runAfter": {
                    "Turn_On_Flow_EventReview": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "c3960fb3-f459-4acd-8c28-ab528ea0e4c8"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_flowmanagement",
                      "operationId": "GetFlow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                    },
                    "parameters": {
                      "environmentName": "@{workflow()?['tags']?['environmentName']}",
                      "flowName": "@{json(parameters('envpar_id__AllFlows (new_envpar_id__AllFlows)'))?['cycle0__EventReview__Delete__Template']}"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Create_Flow_EventReview_Delete": {
                  "runAfter": {
                    "Select_EventReview_Delete": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "2b1ee72d-2b71-4268-b013-f7afd10cb76c"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_flowmanagement",
                      "operationId": "CreateFlow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                    },
                    "parameters": {
                      "environmentName": "@{workflow()?['tags']?['environmentName']}",
                      "Flow/properties/displayName": "@replace(replace(outputs('Get_Flow_EventReview_Delete')?['body/properties/displayName'], parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)'), triggerBody()?['CycleGroupName']), 'tplparam_cyclname', triggerBody()?['CycleGroupName'])",
                      "Flow/properties/definition": "@json(replace(replace(replace(replace(replace(string(outputs('Get_Flow_EventReview_Delete')?['body/properties/definition']), 'parameters(''envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)'')', concat('''', triggerBody()?['CycleGroupName'], '''')),\r\n'parameters(''envpar_config__TenantName (new_envpar_config__TenantName)'')', concat('''', parameters('envpar_config__TenantName (new_envpar_config__TenantName)'), '''')),\r\n    'tplparam_cycldriveid', body('HTTP_3')?['value']?[1]?['id']),\r\n    'tplparam_cyclaltname', triggerBody()?['Cycle1GroupName']),\r\n    'tplparam_cyclname', triggerBody()?['CycleGroupName']))",
                      "Flow/properties/state": "Started",
                      "Flow/properties/connectionReferences": [
                        {
                          "connectionName": "@parameters('envpar_conn_sharedsharepointonline (new_envpar_conn_sharedsharepointonline)')",
                          "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        }
                      ]
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Select_EventReview_Delete": {
                  "runAfter": {
                    "Get_Flow_EventReview_Delete": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "97326c73-2df5-4bee-a51b-11cc48fa7ae7"
                  },
                  "type": "Select",
                  "inputs": {
                    "from": "@outputs('Get_Flow_EventReview_Delete')?['body/properties/connectionReferences']",
                    "select": {
                      "connectionName": "@item()?['connectionName']",
                      "id": "@item()?['id']"
                    }
                  }
                },
                "Copy_folder_EventReview": {
                  "runAfter": {
                    "Scope_Forms_Prompter": [
                      "Succeeded",
                      "Failed"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "b8caec56-4291-42ac-8bef-af74c9d69327"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "CopyFolderAsync",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                      "parameters/sourceFolderId": "/EventReview/Receipts",
                      "parameters/destinationDataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                      "parameters/destinationFolderPath": "/EventReview",
                      "parameters/nameConflictBehavior": 2
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Set_content_approval_status_EventReview": {
                  "runAfter": {
                    "Copy_folder_EventReview": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5a8d8884-2a92-4489-974a-a923843897a1"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "SetApprovalStatus",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                      "table": "EventReview",
                      "id": "@outputs('Copy_folder_EventReview')?['body/ItemId']",
                      "approvalAction": "Approve",
                      "comments": "",
                      "entityTag": "@outputs('Copy_folder_EventReview')?['body/ETag']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Delay_90sec": {
                  "runAfter": {
                    "Run_a_Child_Flow_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "6f940782-c60e-40fc-bb8a-ce71dbeb817a"
                  },
                  "type": "Wait",
                  "inputs": {
                    "interval": {
                      "count": 90,
                      "unit": "Second"
                    }
                  }
                },
                "Turn_Off_Flow_EventReview": {
                  "runAfter": {
                    "Create_Flow_3": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "58d1f4c7-5a1e-4770-a45d-c9062647ef45"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_flowmanagement",
                      "operationId": "StopFlow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                    },
                    "parameters": {
                      "environmentName": "@workflow()?['tags']?['environmentName']",
                      "flowName": "@outputs('Create_Flow_3')?['body/name']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Turn_On_Flow_EventReview": {
                  "runAfter": {
                    "Turn_Off_Flow_EventReview": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "946b73e9-e212-4708-b67b-ba8c1623a0dd"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_flowmanagement",
                      "operationId": "StartFlow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                    },
                    "parameters": {
                      "environmentName": "@workflow()?['tags']?['environmentName']",
                      "flowName": "@outputs('Create_Flow_3')?['body/name']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Turn_Off_Flow_EventReview_Delete": {
                  "runAfter": {
                    "Create_Flow_EventReview_Delete": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "32098274-d314-4d51-8694-7b3d4536aa6e"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_flowmanagement",
                      "operationId": "StopFlow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                    },
                    "parameters": {
                      "environmentName": "@workflow()?['tags']?['environmentName']",
                      "flowName": "@outputs('Create_Flow_EventReview_Delete')?['body/name']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Turn_On_Flow_EventReview_Delete": {
                  "runAfter": {
                    "Turn_Off_Flow_EventReview_Delete": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "28f881ff-df8f-4c28-9413-60df60151fba"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_flowmanagement",
                      "operationId": "StartFlow",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                    },
                    "parameters": {
                      "environmentName": "@workflow()?['tags']?['environmentName']",
                      "flowName": "@outputs('Create_Flow_EventReview_Delete')?['body/name']"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Scope_SurveyQuiz": {
                  "actions": {
                    "Get_Flow": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "85440d02-e8f8-4eba-b42c-5cd7708f7e92"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_flowmanagement",
                          "operationId": "GetFlow",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                        },
                        "parameters": {
                          "environmentName": "@{workflow()?['tags']?['environmentName']}",
                          "flowName": "@{json(parameters('envpar_id__AllFlows (new_envpar_id__AllFlows)'))?['cycle0__SurveyQuiz__Template']}"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Select": {
                      "runAfter": {
                        "Get_Flow": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8d8a5eb6-3430-4a0e-b47a-3bb1e90963a0"
                      },
                      "type": "Select",
                      "inputs": {
                        "from": "@outputs('Get_Flow')?['body/properties/connectionReferences']",
                        "select": {
                          "connectionName": "@item()?['connectionName']",
                          "id": "@item()?['id']"
                        }
                      }
                    },
                    "Create_Flow": {
                      "runAfter": {
                        "Select": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "38df2f72-0f24-4a7f-984e-e1b1b722425f"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_flowmanagement",
                          "operationId": "CreateFlow",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                        },
                        "parameters": {
                          "environmentName": "@{workflow()?['tags']?['environmentName']}",
                          "Flow/properties/displayName": "@replace(replace(outputs('Get_Flow')?['body/properties/displayName'], parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)'), triggerBody()?['CycleGroupName']), 'tplparam_cyclname', triggerBody()?['CycleGroupName'])",
                          "Flow/properties/definition": "@json(replace(replace(replace(\r\n    replace(string(outputs('Get_Flow')?['body/properties/definition']), 'parameters(''envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)'')', concat('''', triggerBody()?['CycleGroupName'], '''')),\r\n    'parameters(''envpar_config__TenantName (new_envpar_config__TenantName)'')', concat('''', parameters('envpar_config__TenantName (new_envpar_config__TenantName)'), '''')),\r\n    'tplparam_cycldriveid',\r\n    body('HTTP_3')?['value']?[1]?['id'] ),\r\n    'tplparam_cyclname',\r\n    triggerBody()?['CycleGroupName']) )",
                          "Flow/properties/state": "Started",
                          "Flow/properties/connectionReferences": [
                            {
                              "connectionName": "@parameters('envpar_conn_sharedsharepointonline (new_envpar_conn_sharedsharepointonline)')",
                              "id": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                            }
                          ]
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Copy_folder_SurveyQuiz": {
                      "runAfter": {
                        "Turn_On_Flow_SurveyQuiz": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "77912108-b9c0-4aa1-bb29-b1d7eb0a7bf3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CopyFolderAsync",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                          "parameters/sourceFolderId": "/EventReview/General",
                          "parameters/destinationDataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/destinationFolderPath": "/EventReview",
                          "parameters/nameConflictBehavior": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Copy_folder_SurveyQuiz_Transcripts": {
                      "runAfter": {
                        "Set_content_approval_status_SurveyQuiz": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e9d48503-8d8e-4c47-b8bd-9d6c7127f6f8"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CopyFolderAsync",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                          "parameters/sourceFolderId": "/EventReview/Transcripts",
                          "parameters/destinationDataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/destinationFolderPath": "/EventReview",
                          "parameters/nameConflictBehavior": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Copy_folder_SurveyQuiz_TranscriptsCopy": {
                      "runAfter": {
                        "Set_content_approval_status_SurveyQuiz_Transcripts": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "fd9ce81a-96bc-4385-b80c-4ea8c0ec4631"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CopyFolderAsync",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                          "parameters/sourceFolderId": "/EventReview/TranscriptsCopy",
                          "parameters/destinationDataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/destinationFolderPath": "/EventReview",
                          "parameters/nameConflictBehavior": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_content_approval_status_SurveyQuiz": {
                      "runAfter": {
                        "Copy_folder_SurveyQuiz": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "dcad6a81-328e-4656-9ad7-ddc428856d38"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "SetApprovalStatus",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "table": "EventReview",
                          "id": "@outputs('Copy_folder_SurveyQuiz')?['body/ItemId']",
                          "approvalAction": "Approve",
                          "comments": "",
                          "entityTag": "@outputs('Copy_folder_SurveyQuiz')?['body/ETag']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_content_approval_status_SurveyQuiz_Transcripts": {
                      "runAfter": {
                        "Copy_folder_SurveyQuiz_Transcripts": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "8e7f2e70-a0ce-4b4b-a9da-b30d5cf5e960"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "SetApprovalStatus",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "table": "EventReview",
                          "id": "@outputs('Copy_folder_SurveyQuiz_Transcripts')?['body/ItemId']",
                          "approvalAction": "Approve",
                          "comments": "",
                          "entityTag": "@outputs('Copy_folder_SurveyQuiz_Transcripts')?['body/ETag']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Send_an_HTTP_request_to_SharePoint_SurveyQuiz_TranscriptsCopy": {
                      "runAfter": {
                        "Copy_folder_SurveyQuiz_TranscriptsCopy": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "f5e815fb-7095-413b-acad-4a71c6e7b6d5"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/lists/getByTitle('EventReview')/items/getbyid('@{outputs('Copy_folder_SurveyQuiz_TranscriptsCopy')?['body/ItemId']}')/breakroleinheritance(copyRoleAssignments=false, clearSubscopes=true)",
                          "parameters/headers": {
                            "accept": "application/json;odata=verbose",
                            "content-type": "application/json;odata=verbose"
                          }
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Turn_Off_Flow_SurveyQuiz": {
                      "runAfter": {
                        "Create_Flow": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "e069b64c-5105-4488-9ca4-a6fac5c00fad"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_flowmanagement",
                          "operationId": "StopFlow",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                        },
                        "parameters": {
                          "environmentName": "@workflow()?['tags']?['environmentName']",
                          "flowName": "@outputs('Create_Flow')?['body/name']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Turn_On_Flow_SurveyQuiz": {
                      "runAfter": {
                        "Turn_Off_Flow_SurveyQuiz": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "35162824-5e4e-4e92-b18a-56e6347f1c49"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_flowmanagement",
                          "operationId": "StartFlow",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_flowmanagement"
                        },
                        "parameters": {
                          "environmentName": "@workflow()?['tags']?['environmentName']",
                          "flowName": "@outputs('Create_Flow')?['body/name']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Scope_Remove_RoleAssignment_Update": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8e1946df-1264-42de-a091-f3469a99b9b0"
                  },
                  "type": "Scope"
                },
                "Scope_Template_Prompter": {
                  "actions": {
                    "Copy_file_EventReviewWithReceipts": {
                      "runAfter": {},
                      "metadata": {
                        "%252fEventReview%252fEventReviewWithReceipts.docx": "/EventReview/EventReviewWithReceipts.docx",
                        "operationMetadataId": "76a39714-426f-468d-94bf-19961d5d3df3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CopyFileAsync",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                          "parameters/sourceFileId": "/EventReview/Template_Prompter_Reviewer_Copy_Me.docx",
                          "parameters/destinationDataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/destinationFolderPath": "/EventReview",
                          "parameters/nameConflictBehavior": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_content_approval_status_EventReviewWithReceipts": {
                      "runAfter": {
                        "Copy_file_EventReviewWithReceipts": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4763b6e7-1fbb-4ed7-945c-db3f9e75f084"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "SetApprovalStatus",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "table": "EventReview",
                          "id": "@outputs('Copy_file_EventReviewWithReceipts')?['body/ItemId']",
                          "approvalAction": "Submit",
                          "comments": "",
                          "entityTag": "@outputs('Copy_file_EventReviewWithReceipts')?['body/ETag']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_content_approval_status_EventReviewWithReceipts_Approve": {
                      "runAfter": {
                        "Set_content_approval_status_EventReviewWithReceipts": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "cf681897-f541-4947-8e0e-914c56e70c82"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "SetApprovalStatus",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "table": "EventReview",
                          "id": "@outputs('Copy_file_EventReviewWithReceipts')?['body/ItemId']",
                          "approvalAction": "Approve",
                          "comments": "",
                          "entityTag": "@outputs('Set_content_approval_status_EventReviewWithReceipts')?['body/ETag']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Scope_Remove_RoleAssignment_Update_3": {
                      "actions": {
                        "Send_an_HTTP_request_to_SharePoint_EventReview_Break_3": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "3ba62646-9760-43a0-9349-ae6320cdc85d"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                            },
                            "parameters": {
                              "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/lists/getByTitle('EventReview')/items/getbyid('@{outputs('Copy_file_EventReviewWithReceipts')?['body/ItemId']}')/breakroleinheritance(copyRoleAssignments=true, clearSubscopes=true)",
                              "parameters/headers": {
                                "accept": "application/json;odata=verbose",
                                "content-type": "application/json;odata=verbose"
                              }
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Send_an_HTTP_request_to_SharePoint_EventReview_Read_3": {
                          "runAfter": {
                            "Send_an_HTTP_request_to_SharePoint_EventReview_Break_3": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "87c40b8a-cbba-458d-93e8-d3cbcf21845d"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                            },
                            "parameters": {
                              "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/lists/getByTitle('EventReview')/items/getbyid('@{outputs('Copy_file_EventReviewWithReceipts')?['body/ItemId']}')/roleassignments/removeroleassignment(principalid=@{outputs('Compose_SiteGroupIdMembers')}, roledefid=@{variables('varRoleDefUpdate')})",
                              "parameters/headers": {
                                "accept": "application/json;odata=verbose",
                                "content-type": "application/json;odata=verbose"
                              }
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Set_content_approval_status_EventReviewWithReceipts_Approve": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "a124bc47-730d-480d-879d-7e9bba178567"
                      },
                      "type": "Scope"
                    }
                  },
                  "runAfter": {
                    "Scope_Public_Listing": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dd7b6858-c711-48e6-89d4-0e6c339d39b2"
                  },
                  "type": "Scope"
                },
                "Scope_Public_Listing": {
                  "actions": {
                    "Copy_file_EventReviewWithReceipts_2": {
                      "runAfter": {},
                      "metadata": {
                        "%252fEventReview%252fEventReviewWithReceipts.docx": "/EventReview/EventReviewWithReceipts.docx",
                        "operationMetadataId": "76a39714-426f-468d-94bf-19961d5d3df3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CopyFileAsync",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                          "parameters/sourceFileId": "/EventReview/Public_Listing_Receipts.xlsx",
                          "parameters/destinationDataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/destinationFolderPath": "/EventReview",
                          "parameters/nameConflictBehavior": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_content_approval_status_EventReviewWithReceipts_2": {
                      "runAfter": {
                        "Copy_file_EventReviewWithReceipts_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4763b6e7-1fbb-4ed7-945c-db3f9e75f084"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "SetApprovalStatus",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "table": "EventReview",
                          "id": "@outputs('Copy_file_EventReviewWithReceipts_2')?['body/ItemId']",
                          "approvalAction": "Submit",
                          "comments": "",
                          "entityTag": "@outputs('Copy_file_EventReviewWithReceipts_2')?['body/ETag']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_content_approval_status_EventReviewWithReceipts_Approve_2": {
                      "runAfter": {
                        "Set_content_approval_status_EventReviewWithReceipts_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "cf681897-f541-4947-8e0e-914c56e70c82"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "SetApprovalStatus",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "table": "EventReview",
                          "id": "@outputs('Copy_file_EventReviewWithReceipts_2')?['body/ItemId']",
                          "approvalAction": "Approve",
                          "comments": "",
                          "entityTag": "@outputs('Set_content_approval_status_EventReviewWithReceipts_2')?['body/ETag']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Scope_Remove_RoleAssignment_Update_2": {
                      "actions": {
                        "Send_an_HTTP_request_to_SharePoint_EventReview_Break_2": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "3ba62646-9760-43a0-9349-ae6320cdc85d"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                            },
                            "parameters": {
                              "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/lists/getByTitle('EventReview')/items/getbyid('@{outputs('Copy_file_EventReviewWithReceipts_2')?['body/ItemId']}')/breakroleinheritance(copyRoleAssignments=true, clearSubscopes=true)",
                              "parameters/headers": {
                                "accept": "application/json;odata=verbose",
                                "content-type": "application/json;odata=verbose"
                              }
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        },
                        "Send_an_HTTP_request_to_SharePoint_EventReview_Read_2": {
                          "runAfter": {
                            "Send_an_HTTP_request_to_SharePoint_EventReview_Break_2": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "87c40b8a-cbba-458d-93e8-d3cbcf21845d"
                          },
                          "type": "OpenApiConnection",
                          "inputs": {
                            "host": {
                              "connectionName": "shared_sharepointonline",
                              "operationId": "HttpRequest",
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                            },
                            "parameters": {
                              "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                              "parameters/method": "POST",
                              "parameters/uri": "_api/web/lists/getByTitle('EventReview')/items/getbyid('@{outputs('Copy_file_EventReviewWithReceipts_2')?['body/ItemId']}')/roleassignments/removeroleassignment(principalid=@{outputs('Compose_SiteGroupIdMembers')}, roledefid=@{variables('varRoleDefUpdate')})",
                              "parameters/headers": {
                                "accept": "application/json;odata=verbose",
                                "content-type": "application/json;odata=verbose"
                              }
                            },
                            "authentication": "@parameters('$authentication')"
                          }
                        }
                      },
                      "runAfter": {
                        "Set_content_approval_status_EventReviewWithReceipts_Approve_2": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "80de76cd-90b3-49ef-b8e3-a1fef5849e59"
                      },
                      "type": "Scope"
                    }
                  },
                  "runAfter": {
                    "Turn_On_Flow_EventReview_Delete": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dd7b6858-c711-48e6-89d4-0e6c339d39b2"
                  },
                  "type": "Scope"
                },
                "Scope_Forms_Prompter": {
                  "actions": {
                    "Copy_file_EventReviewWithReceipts_3": {
                      "runAfter": {},
                      "metadata": {
                        "%252fEventReview%252fEventReviewWithReceipts.docx": "/EventReview/EventReviewWithReceipts.docx",
                        "operationMetadataId": "76a39714-426f-468d-94bf-19961d5d3df3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CopyFileAsync",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                          "parameters/sourceFileId": "/EventReview/Template_Prompter_Reviewer_Copy_Me.docx",
                          "parameters/destinationDataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/destinationFolderPath": "/EventReview/Forms",
                          "parameters/nameConflictBehavior": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_content_approval_status_EventReviewWithReceipts_3": {
                      "runAfter": {
                        "Copy_file_EventReviewWithReceipts_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4763b6e7-1fbb-4ed7-945c-db3f9e75f084"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "SetApprovalStatus",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "table": "EventReview",
                          "id": "@outputs('Copy_file_EventReviewWithReceipts_3')?['body/ItemId']",
                          "approvalAction": "Submit",
                          "comments": "",
                          "entityTag": "@outputs('Copy_file_EventReviewWithReceipts_3')?['body/ETag']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_content_approval_status_EventReviewWithReceipts_Approve_3": {
                      "runAfter": {
                        "Set_content_approval_status_EventReviewWithReceipts_3": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "cf681897-f541-4947-8e0e-914c56e70c82"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "SetApprovalStatus",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "table": "EventReview",
                          "id": "@outputs('Copy_file_EventReviewWithReceipts_3')?['body/ItemId']",
                          "approvalAction": "Approve",
                          "comments": "",
                          "entityTag": "@outputs('Set_content_approval_status_EventReviewWithReceipts_3')?['body/ETag']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Scope_Template_Transcripts": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dd7b6858-c711-48e6-89d4-0e6c339d39b2"
                  },
                  "type": "Scope"
                },
                "Scope_Remove_RoleAssignment_Update": {
                  "actions": {
                    "Send_an_HTTP_request_to_SharePoint_EventReview_Break": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "3ba62646-9760-43a0-9349-ae6320cdc85d"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/lists/getByTitle('EventReview')/items/getbyid('@{outputs('Copy_folder_EventReview')?['body/ItemId']}')/breakroleinheritance(copyRoleAssignments=true, clearSubscopes=true)",
                          "parameters/headers": {
                            "accept": "application/json;odata=verbose",
                            "content-type": "application/json;odata=verbose"
                          }
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Send_an_HTTP_request_to_SharePoint_EventReview_Read": {
                      "runAfter": {
                        "Send_an_HTTP_request_to_SharePoint_EventReview_Break": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "87c40b8a-cbba-458d-93e8-d3cbcf21845d"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/web/lists/getByTitle('EventReview')/items/getbyid('@{outputs('Copy_folder_EventReview')?['body/ItemId']}')/roleassignments/removeroleassignment(principalid=@{outputs('Compose_SiteGroupIdMembers')}, roledefid=@{variables('varRoleDefUpdate')})",
                          "parameters/headers": {
                            "accept": "application/json;odata=verbose",
                            "content-type": "application/json;odata=verbose"
                          }
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Set_content_approval_status_EventReview": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "765524a4-f425-4934-98cd-74d1a989d69c"
                  },
                  "type": "Scope"
                },
                "Scope_Template_Transcripts": {
                  "actions": {
                    "Copy_file_EventReviewWithReceipts_4": {
                      "runAfter": {},
                      "metadata": {
                        "%252fEventReview%252fEventReviewWithReceipts.docx": "/EventReview/EventReviewWithReceipts.docx",
                        "operationMetadataId": "76a39714-426f-468d-94bf-19961d5d3df3"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "CopyFileAsync",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                          "parameters/sourceFileId": "/EventReview/Template_Transcripts_GroupOwnerOnly.docx",
                          "parameters/destinationDataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/destinationFolderPath": "/EventReview",
                          "parameters/nameConflictBehavior": 2
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_content_approval_status_EventReviewWithReceipts_4": {
                      "runAfter": {
                        "Copy_file_EventReviewWithReceipts_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "4763b6e7-1fbb-4ed7-945c-db3f9e75f084"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "SetApprovalStatus",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "table": "EventReview",
                          "id": "@outputs('Copy_file_EventReviewWithReceipts_4')?['body/ItemId']",
                          "approvalAction": "Submit",
                          "comments": "",
                          "entityTag": "@outputs('Copy_file_EventReviewWithReceipts_4')?['body/ETag']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Set_content_approval_status_EventReviewWithReceipts_Approve_4": {
                      "runAfter": {
                        "Set_content_approval_status_EventReviewWithReceipts_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "cf681897-f541-4947-8e0e-914c56e70c82"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "SetApprovalStatus",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "table": "EventReview",
                          "id": "@outputs('Copy_file_EventReviewWithReceipts_4')?['body/ItemId']",
                          "approvalAction": "Approve",
                          "comments": "",
                          "entityTag": "@outputs('Set_content_approval_status_EventReviewWithReceipts_4')?['body/ETag']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    },
                    "Stop_sharing_Template_Transcripts": {
                      "runAfter": {
                        "Set_content_approval_status_EventReviewWithReceipts_Approve_4": [
                          "Succeeded"
                        ]
                      },
                      "metadata": {
                        "operationMetadataId": "7a3f6747-c55e-49e1-abe4-295ac5972f75"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "UnshareItem",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "table": "EventReview",
                          "id": "@outputs('Copy_file_EventReviewWithReceipts_4')?['body/ItemId']"
                        },
                        "authentication": "@parameters('$authentication')"
                      }
                    }
                  },
                  "runAfter": {
                    "Scope_Template_Prompter": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "dd7b6858-c711-48e6-89d4-0e6c339d39b2"
                  },
                  "type": "Scope"
                }
              },
              "runAfter": {
                "HTTP_SharePoint_Get_EventReview": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "9548b61e-db75-4dc6-b5ad-3bae62d74331"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Condition_UsersList": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "7583dbf8-459c-4986-8ec9-601419a93024"
          },
          "type": "Scope"
        },
        "Condition_UsersList": {
          "actions": {
            "Scope_Get_UsersList": {
              "actions": {
                "Run_a_Child_Flow_5": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "1b9458bd-f0ce-4688-a45f-8f835c9a3782"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "bc0ce95d-c8dc-ea11-a815-000d3af42a37"
                    },
                    "body": {
                      "fromSite": "@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                      "toSite": "@triggerBody()?['CycleGroupName']",
                      "ListTitle": "UsersList"
                    }
                  }
                },
                "HTTP_SharePoint_UsersList_BreakInheritance": {
                  "runAfter": {
                    "Run_a_Child_Flow_5": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "bf0ca5ba-6657-41f5-be49-c1a6e049399b"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "HttpRequest",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                      "parameters/method": "POST",
                      "parameters/uri": "_api/web/lists/getByTitle('UsersList')/breakroleinheritance(copyRoleAssignments=false, clearSubscopes=true)",
                      "parameters/headers": {
                        "accept": "application/json;odata=verbose",
                        "content-type": "application/json;odata=verbose"
                      }
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "HTTP_SharePoint_Get_UsersList": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "077f9ff9-22a0-46cb-b524-476f980ab5cb"
              },
              "type": "Scope"
            },
            "HTTP_SharePoint_Get_UsersList": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "bf0ca5ba-6657-41f5-be49-c1a6e049399b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                  "parameters/method": "GET",
                  "parameters/uri": "_api/web/lists/getByTitle('UsersList')",
                  "parameters/headers": {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            }
          },
          "runAfter": {
            "Condition_group_not_exists": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@triggerBody()?['IsCycle1']",
              "@true"
            ]
          },
          "metadata": {
            "operationMetadataId": "13ad790a-8c18-47ef-b9f0-7bce489b4298"
          },
          "type": "If"
        },
        "Scope_Get_LogsList": {
          "actions": {
            "HTTP_SharePoint_Get_LogsList": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "bf0ca5ba-6657-41f5-be49-c1a6e049399b"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "HttpRequest",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                  "parameters/method": "GET",
                  "parameters/uri": "_api/web/lists/getByTitle('LogsList')",
                  "parameters/headers": {
                    "accept": "application/json;odata=verbose",
                    "content-type": "application/json;odata=verbose"
                  }
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Scope_LogsList": {
              "actions": {
                "Run_a_Child_Flow_6": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "fa8b3997-ba0a-4763-ac11-e6b8539b4468"
                  },
                  "type": "Workflow",
                  "inputs": {
                    "host": {
                      "workflowReferenceName": "bc0ce95d-c8dc-ea11-a815-000d3af42a37"
                    },
                    "body": {
                      "fromSite": "@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                      "toSite": "@triggerBody()?['CycleGroupName']",
                      "ListTitle": "LogsList"
                    }
                  }
                },
                "HTTP_SharePoint_LogsList_BreakInheritance": {
                  "runAfter": {
                    "Run_a_Child_Flow_6": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5ada9b04-532b-4acd-b15e-a23aa5a87cfe"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_sharepointonline",
                      "operationId": "HttpRequest",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                    },
                    "parameters": {
                      "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                      "parameters/method": "POST",
                      "parameters/uri": "_api/web/lists/getByTitle('LogsList')/breakroleinheritance(copyRoleAssignments=false, clearSubscopes=true)",
                      "parameters/headers": {
                        "accept": "application/json;odata=verbose",
                        "content-type": "application/json;odata=verbose"
                      }
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                }
              },
              "runAfter": {
                "HTTP_SharePoint_Get_LogsList": [
                  "Failed"
                ]
              },
              "metadata": {
                "operationMetadataId": "04c2c37c-40c3-46b2-a58f-b0e7bd258ea7"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Condition_MySubscriptions": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "96406d22-5bf6-411e-8277-a50bf4c4e25b"
          },
          "type": "Scope"
        },
        "Condition_Get_Post_process": {
          "actions": {
            "Scope_Post_process": {
              "actions": {
                "Compose_Navigation": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "c4818d6c-90d9-47be-a918-806dd6111463"
                  },
                  "type": "Compose",
                  "inputs": [
                    {
                      "__metadata": {
                        "type": "SP.NavigationNode"
                      },
                      "IsExternal": false,
                      "IsVisible": true,
                      "Title": "TEAMS APP CHAT",
                      "Url": "https://teams.microsoft.com/?tenantId=@{parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')}"
                    },
                    {
                      "__metadata": {
                        "type": "SP.NavigationNode"
                      },
                      "IsDocLib": true,
                      "IsExternal": false,
                      "IsVisible": true,
                      "ListTemplateType": 101,
                      "Title": "EventReview",
                      "Url": "https://@{concat(parameters('envpar_config__TenantName (new_envpar_config__TenantName)'), '.sharepoint.com')}/sites/@{triggerBody()?['CycleGroupName']}/EventReview"
                    },
                    {
                      "__metadata": {
                        "type": "SP.NavigationNode"
                      },
                      "IsDocLib": true,
                      "IsExternal": false,
                      "IsVisible": true,
                      "ListTemplateType": 100,
                      "Title": "MySubscriptions",
                      "Url": "https://@{concat(parameters('envpar_config__TenantName (new_envpar_config__TenantName)'), '.sharepoint.com')}/sites/@{triggerBody()?['Cycle1GroupName']}/Lists/MySubscriptions"
                    },
                    {
                      "__metadata": {
                        "type": "SP.NavigationNode"
                      },
                      "IsDocLib": true,
                      "IsExternal": true,
                      "IsVisible": true,
                      "ListTemplateType": 100,
                      "Title": "UsersList",
                      "Url": "https://@{concat(parameters('envpar_config__TenantName (new_envpar_config__TenantName)'), '.sharepoint.com')}/sites/@{triggerBody()?['Cycle1GroupName']}/Lists/UsersList"
                    },
                    {
                      "__metadata": {
                        "type": "SP.NavigationNode"
                      },
                      "IsDocLib": true,
                      "IsExternal": false,
                      "IsVisible": true,
                      "ListTemplateType": 100,
                      "Title": "LogsList",
                      "Url": "https://@{concat(parameters('envpar_config__TenantName (new_envpar_config__TenantName)'), '.sharepoint.com')}/sites/@{triggerBody()?['CycleGroupName']}/Lists/LogsList"
                    },
                    {
                      "__metadata": {
                        "type": "SP.NavigationNode"
                      },
                      "IsDocLib": true,
                      "IsExternal": true,
                      "IsVisible": true,
                      "ListTemplateType": 100,
                      "Title": "MyGroups",
                      "Url": "https://@{concat(parameters('envpar_config__TenantName (new_envpar_config__TenantName)'), '.sharepoint.com')}/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}/Lists/MyGroups"
                    }
                  ]
                },
                "Apply_to_each_Navigation": {
                  "foreach": "@outputs('Compose_Navigation')",
                  "actions": {
                    "HTTP_SharePoint_Navigation": {
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "575b7aff-6ebb-45e0-8a13-30a7a97c2446"
                      },
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": {
                          "connectionName": "shared_sharepointonline",
                          "operationId": "HttpRequest",
                          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                        },
                        "parameters": {
                          "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{triggerBody()?['CycleGroupName']}",
                          "parameters/method": "POST",
                          "parameters/uri": "_api/Web/Navigation/QuickLaunch",
                          "parameters/headers": {
                            "accept": "application/json;odata=verbose",
                            "content-type": "application/json;odata=verbose"
                          },
                          "parameters/body": "@items('Apply_to_each_Navigation')"
                        },
                        "authentication": "@parameters('$authentication')",
                        "retryPolicy": {
                          "type": "none"
                        }
                      }
                    }
                  },
                  "runAfter": {
                    "Compose_Navigation": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "4cc78b35-dbc0-4218-96a8-dacb6d2012a6"
                  },
                  "type": "Foreach"
                },
                "Condition_Add_Owner_as_Group_Member": {
                  "actions": {},
                  "runAfter": {
                    "Apply_to_each_Navigation": [
                      "Succeeded"
                    ]
                  },
                  "else": {
                    "actions": {
                      "HTTP_Add_Owner_as_Group_Member": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "3b2f6200-373d-463e-aa68-65e74979bd4e"
                        },
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "https://graph.microsoft.com/v1.0/groups/@{variables('CycleGroupId')}/members/$ref",
                          "headers": {
                            "Content-type": "application/json"
                          },
                          "body": {
                            "@@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/@{triggerBody()?['CycleGroupOwnerId']}"
                          },
                          "authentication": {
                            "type": "ActiveDirectoryOAuth",
                            "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                            "audience": "https://graph.microsoft.com",
                            "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                            "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                          }
                        }
                      }
                    }
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@triggerBody()?['IsCycle1']",
                            "@true"
                          ]
                        }
                      },
                      {
                        "equals": [
                          "@triggerBody()?['Cycle1GroupName']",
                          "@concat(parameters('envpar_config__CyclesRename (new_envpar_config__CyclesRename)'), '1')"
                        ]
                      }
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "38551525-8801-4934-994b-52aaeb2c2688"
                  },
                  "type": "If"
                }
              },
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8f4b1a2d-12ae-450b-b80b-51902c2f6b45"
              },
              "type": "Scope"
            }
          },
          "runAfter": {
            "Scope_Get_LogsList": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@length(body('HTTP_2')?['value'])",
              "@0"
            ]
          },
          "metadata": {
            "operationMetadataId": "22f24090-2977-41e6-9399-6a11aa4cb79c"
          },
          "type": "If"
        },
        "Scope_Def_RoleDefinition": {
          "actions": {
            "Compose_Edit_RoleDefinition_": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "4c94ea50-8cb6-4580-9d8a-e3baaaaa810d"
              },
              "type": "Compose",
              "inputs": 1073741830
            },
            "Compose_Read_RoleDefinition": {
              "runAfter": {
                "Compose_Edit_RoleDefinition_": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "3c8bb843-f935-4542-a01e-6f68e4e91b8a"
              },
              "type": "Compose",
              "inputs": 1073741826
            },
            "Compose_Contribute_RoleDefinition": {
              "runAfter": {
                "Compose_Read_RoleDefinition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "0c35f1bc-b3da-4070-b4ee-8a55e748304f"
              },
              "type": "Compose",
              "inputs": 1073741827
            },
            "Compose_SiteGroupIdMembers": {
              "runAfter": {
                "Compose_Contribute_RoleDefinition": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "7964df6b-d0ca-4c6d-b465-588604ba642a"
              },
              "type": "Compose",
              "inputs": 5
            },
            "Compose_ItemsViewAddUpdateNoDelete": {
              "runAfter": {
                "Compose_SiteGroupIdMembers": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "bf1eaadd-02ce-4ef2-b8ac-b54060b31a86"
              },
              "type": "Compose",
              "inputs": "ItemsViewAddUpdateNoDelete"
            }
          },
          "runAfter": {
            "HTTP_2": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "80b06eca-e2c7-4db3-a7bd-15cfdf14c4c2"
          },
          "type": "Scope"
        },
        "Initialize_variable_varRoleDefUpdate": {
          "runAfter": {
            "Initialize_variable_CycleGroupId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "d01595b5-8041-4161-84b6-a012245b91ab"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varRoleDefUpdate",
                "type": "string"
              }
            ]
          }
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}