Workflows/cycle0__Microsoft_Create_Webhook__Template-E3D21525-20AD-EB11-8236-000D3AF4953D.json
{
  "properties": {
    "connectionReferences": {},
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "envpar_http__Flow_TriggerUri (new_envpar_http__Flow_TriggerUri)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_http__Flow_TriggerUri"
          }
        },
        "envpar_http__Microsoft_Create_Webhook (new_envpar_http__Microsoft_Create_Webhook)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_http__Microsoft_Create_Webhook"
          }
        }
      },
      "triggers": {
        "HTTP_Webhook": {
          "type": "HttpWebhook",
          "inputs": {
            "subscribe": {
              "method": "POST",
              "uri": "@parameters('envpar_http__Flow_TriggerUri (new_envpar_http__Flow_TriggerUri)')",
              "body": {
                "Cycle1GroupName": "tplparam_cyclname",
                "MyGroupsId": "tplparam_cyclmygroupsitemid",
                "TriggerUri": "@{listCallbackUrl()}",
                "GroupsListId": "tplparam_cyclgroupslistitemid",
                "FlowName": "Microsoft_Create",
                "SubscribeOrUnsubscribe": "Subscribe"
              }
            },
            "unsubscribe": {
              "method": "POST",
              "uri": "@parameters('envpar_http__Flow_TriggerUri (new_envpar_http__Flow_TriggerUri)')",
              "body": {
                "Cycle1GroupName": "tplparam_cyclname",
                "MyGroupsId": "tplparam_cyclmygroupsitemid",
                "TriggerUri": "@{listCallbackUrl()}",
                "GroupsListId": "tplparam_cyclgroupslistitemid",
                "FlowName": "Microsoft_Create",
                "SubscribeOrUnsubscribe": "Unsubscribe"
              }
            }
          }
        }
      },
      "actions": {
        "Condition_Test": {
          "actions": {
            "Response_OK": {
              "runAfter": {},
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200
              }
            },
            "Terminate_Test": {
              "runAfter": {
                "Response_OK": [
                  "Succeeded"
                ]
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Cancelled"
              }
            }
          },
          "runAfter": {},
          "else": {
            "actions": {
              "HTTP": {
                "runAfter": {},
                "type": "Http",
                "inputs": {
                  "method": "POST",
                  "uri": "@parameters('envpar_http__Microsoft_Create_Webhook (new_envpar_http__Microsoft_Create_Webhook)')",
                  "body": {
                    "queries": "@triggerOutputs()?['queries']",
                    "Cycle1GroupName": "tplparam_cyclname"
                  },
                  "retryPolicy": {
                    "type": "none"
                  }
                }
              },
              "Response_Result": {
                "runAfter": {
                  "HTTP": [
                    "Succeeded"
                  ]
                },
                "type": "Response",
                "kind": "Http",
                "inputs": {
                  "statusCode": "@outputs('HTTP')['statusCode']",
                  "headers": "@outputs('HTTP')['headers']",
                  "body": "@body('HTTP')"
                }
              }
            }
          },
          "expression": {
            "equals": [
              "@triggerOutputs()?['queries']",
              "@null"
            ]
          },
          "type": "If"
        }
      },
      "outputs": {}
    }
  },
  "schemaVersion": "1.0.0.0"
}