Workflows/cycle0__Sharepoint_Copy_List-BC0CE95D-C8DC-EA11-A815-000D3AF42A37.json
{
    "properties": {
        "connectionReferences": {
            "shared_sharepointonline": {
                "runtimeSource": "embedded",
                "connection": {
                    "connectionReferenceLogicalName": "new_sharedsharepointonline_9ad14"
                },
                "api": {
                    "name": "shared_sharepointonline"
                }
            }
        },
        "definition": {
            "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
            "contentVersion": "1.0.0.0",
            "parameters": {
                "$connections": {
                    "defaultValue": {},
                    "type": "Object"
                },
                "$authentication": {
                    "defaultValue": {},
                    "type": "SecureObject"
                },
                "envpar_config__TenantName": {
                    "defaultValue": "",
                    "type": "String",
                    "metadata": {
                        "schemaName": "new_envpar_config__TenantName",
                        "description": "Required. Org Name orgname (this is the prefix of the auto assigned domain orgname.onmicrosoft.com)"
                    }
                }
            },
            "triggers": {
                "manual": {
                    "metadata": {
                        "operationMetadataId": "f6dea64b-f957-42a0-84f6-2ec2001c2034"
                    },
                    "type": "Request",
                    "kind": "Http",
                    "inputs": {
                        "schema": {
                            "type": "object",
                            "properties": {
                                "fromSite": {
                                    "type": "string"
                                },
                                "toSite": {
                                    "type": "string"
                                },
                                "ListTitle": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "actions": {
                "Scope_3": {
                    "actions": {
                        "Send_an_HTTP_request_to_SharePoint_17": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "3e166042-4539-434b-839c-10e7b58bc2bb"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "HttpRequest",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                },
                                "parameters": {
                                    "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['fromSite']}",
                                    "parameters/method": "GET",
                                    "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')",
                                    "parameters/headers": {
                                        "accept": "application/json;odata=verbose",
                                        "content-type": "application/json;odata=verbose"
                                    }
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Parse_JSON_5": {
                            "runAfter": {
                                "Send_an_HTTP_request_to_SharePoint_17": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "32881b46-ce7c-4f6a-9f9c-14742a6e1d14"
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Send_an_HTTP_request_to_SharePoint_17')?['d']",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "__metadata": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "AllowContentTypes": {
                                            "type": "boolean"
                                        },
                                        "BaseTemplate": {
                                            "type": "integer"
                                        },
                                        "BaseType": {
                                            "type": "integer"
                                        },
                                        "ContentTypesEnabled": {
                                            "type": "boolean"
                                        },
                                        "CrawlNonDefaultViews": {
                                            "type": "boolean"
                                        },
                                        "DefaultItemOpenUseListSetting": {
                                            "type": "boolean"
                                        },
                                        "Description": {
                                            "type": "string"
                                        },
                                        "DisableGridEditing": {
                                            "type": "boolean"
                                        },
                                        "DocumentTemplateUrl": {},
                                        "DraftVersionVisibility": {
                                            "type": "integer"
                                        },
                                        "EnableAttachments": {
                                            "type": "boolean"
                                        },
                                        "EnableFolderCreation": {
                                            "type": "boolean"
                                        },
                                        "EnableMinorVersions": {
                                            "type": "boolean"
                                        },
                                        "EnableModeration": {
                                            "type": "boolean"
                                        },
                                        "EnableRequestSignOff": {
                                            "type": "boolean"
                                        },
                                        "EnableVersioning": {
                                            "type": "boolean"
                                        },
                                        "EntityTypeName": {
                                            "type": "string"
                                        },
                                        "ExemptFromBlockDownloadOfNonViewableFiles": {
                                            "type": "boolean"
                                        },
                                        "FileSavePostProcessingEnabled": {
                                            "type": "boolean"
                                        },
                                        "ForceCheckout": {
                                            "type": "boolean"
                                        },
                                        "HasExternalDataSource": {
                                            "type": "boolean"
                                        },
                                        "Hidden": {
                                            "type": "boolean"
                                        },
                                        "MajorVersionLimit": {
                                            "type": "integer"
                                        },
                                        "MajorWithMinorVersionsLimit": {
                                            "type": "integer"
                                        },
                                        "MultipleDataList": {
                                            "type": "boolean"
                                        },
                                        "NoCrawl": {
                                            "type": "boolean"
                                        },
                                        "ParserDisabled": {
                                            "type": "boolean"
                                        },
                                        "ServerTemplateCanCreateFolders": {
                                            "type": "boolean"
                                        },
                                        "Title": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        },
                        "Select_2": {
                            "runAfter": {
                                "Parse_JSON_5": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "be61f452-4bd6-47b4-a88b-02ae7fea5b9a"
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@createArray(body('Parse_JSON_5'))",
                                "select": {
                                    "__metadata": {
                                        "type": "@{body('Parse_JSON_5')?['__metadata']?['type']}"
                                    },
                                    "AllowContentTypes": "@body('Parse_JSON_5')?['AllowContentTypes']",
                                    "BaseTemplate": "@body('Parse_JSON_5')?['BaseTemplate']",
                                    "BaseType": "@body('Parse_JSON_5')?['BaseType']",
                                    "ContentTypesEnabled": "@body('Parse_JSON_5')?['ContentTypesEnabled']",
                                    "Title": "@body('Parse_JSON_5')?['Title']",
                                    "CrawlNonDefaultViews": "@body('Parse_JSON_5')?['CrawlNonDefaultViews']",
                                    "DefaultItemOpenUseListSetting": "@body('Parse_JSON_5')?['DefaultItemOpenUseListSetting']",
                                    "Description": "@body('Parse_JSON_5')?['Description']",
                                    "DisableGridEditing": "@body('Parse_JSON_5')?['DisableGridEditing']",
                                    "DraftVersionVisibility": "@body('Parse_JSON_5')?['DraftVersionVisibility']",
                                    "EnableAttachments": "@body('Parse_JSON_5')?['EnableAttachments']",
                                    "EnableFolderCreation": "@body('Parse_JSON_5')?['EnableFolderCreation']",
                                    "EnableMinorVersions": "@body('Parse_JSON_5')?['EnableMinorVersions']",
                                    "EnableModeration": "@body('Parse_JSON_5')?['EnableModeration']",
                                    "EnableRequestSignOff": "@body('Parse_JSON_5')?['EnableRequestSignOff']",
                                    "EnableVersioning": "@body('Parse_JSON_5')?['EnableVersioning']",
                                    "EntityTypeName": "@body('Parse_JSON_5')?['EntityTypeName']",
                                    "ExemptFromBlockDownloadOfNonViewableFiles": "@body('Parse_JSON_5')?['ExemptFromBlockDownloadOfNonViewableFiles']",
                                    "FileSavePostProcessingEnabled": "@body('Parse_JSON_5')?['FileSavePostProcessingEnabled']",
                                    "ForceCheckout": "@body('Parse_JSON_5')?['ForceCheckout']",
                                    "HasExternalDataSource": "@body('Parse_JSON_5')?['HasExternalDataSource']",
                                    "Hidden": "@body('Parse_JSON_5')?['Hidden']",
                                    "MultipleDataList": "@body('Parse_JSON_5')?['MultipleDataList']",
                                    "NoCrawl": "@body('Parse_JSON_5')?['NoCrawl']",
                                    "ParserDisabled": "@body('Parse_JSON_5')?['ParserDisabled']",
                                    "ServerTemplateCanCreateFolders": "@body('Parse_JSON_5')?['ServerTemplateCanCreateFolders']",
                                    "Direction": "@body('Parse_JSON_5')?['Direction']",
                                    "ImageUrl": "@body('Parse_JSON_5')?['ImageUrl']",
                                    "IrmEnabled": "@body('Parse_JSON_5')?['IrmEnabled']",
                                    "IrmExpire": "@body('Parse_JSON_5')?['IrmExpire']",
                                    "IrmReject": "@body('Parse_JSON_5')?['IrmReject']",
                                    "IsApplicationList": "@body('Parse_JSON_5')?['IsApplicationList']",
                                    "IsCatalog": "@body('Parse_JSON_5')?['IsCatalog']",
                                    "IsPrivate": "@body('Parse_JSON_5')?['IsPrivate']",
                                    "ListExperienceOptions": "@body('Parse_JSON_5')?['ListExperienceOptions']",
                                    "ListItemEntityTypeFullName": "@body('Parse_JSON_5')?['ListItemEntityTypeFullName']"
                                }
                            }
                        },
                        "Send_an_HTTP_request_to_SharePoint_14": {
                            "runAfter": {
                                "Send_an_HTTP_request_to_SharePoint_8": [
                                    "Succeeded",
                                    "Skipped",
                                    "Failed",
                                    "TimedOut"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "e69ff6bf-e4da-45ab-ae80-26e98e1b99f5"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "HttpRequest",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                },
                                "parameters": {
                                    "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['fromSite']}",
                                    "parameters/method": "GET",
                                    "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/fields",
                                    "parameters/headers": {
                                        "accept": "application/json;odata=verbose",
                                        "content-type": "application/json;odata=verbose"
                                    }
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Parse_JSON_4": {
                            "runAfter": {
                                "Send_an_HTTP_request_to_SharePoint_14": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "e0304420-dfae-4623-b252-af1dc6e782ba"
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@outputs('Send_an_HTTP_request_to_SharePoint_14')?['body']?['d']?['results']",
                                "schema": {}
                            }
                        },
                        "Filter_array": {
                            "runAfter": {
                                "Parse_JSON_4": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "bbed70c8-3cf7-4e83-aab5-a2d50552ea71"
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Parse_JSON_4')",
                                "where": "@or(and(equals(item()['CanBeDeleted'], true), equals(item()['Hidden'], false)), equals(item()['StaticName'], 'Title'))"
                            }
                        },
                        "Select_3": {
                            "runAfter": {
                                "Filter_array": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "100e61b1-beb8-4e93-a570-509127e23964"
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('Filter_array')",
                                "select": {
                                    "__metadata": {
                                        "type": "@{item()?['__metadata']?['type']}"
                                    },
                                    "AutoIndexed": "@item()['AutoIndexed']",
                                    "CanBeDeleted": "@item()['CanBeDeleted']",
                                    "ClientSideComponentId": "@item()['ClientSideComponentId']",
                                    "ClientSideComponentProperties": "@{item()['ClientSideComponentProperties']}",
                                    "ClientValidationFormula": "@{item()['ClientValidationFormula']}",
                                    "ClientValidationMessage": "@{item()['ClientValidationMessage']}",
                                    "CustomFormatter": "@{item()['CustomFormatter']}",
                                    "DefaultFormula": "@{item()['DefaultFormula']}",
                                    "DefaultValue": "@{item()['DefaultValue']}",
                                    "Description": "@item()['Description']",
                                    "Direction": "@item()['Direction']",
                                    "EnforceUniqueValues": "@item()['EnforceUniqueValues']",
                                    "EntityPropertyName": "@item()['EntityPropertyName']",
                                    "Filterable": "@item()['Filterable']",
                                    "FromBaseType": "@item()['FromBaseType']",
                                    "Group": "@item()['Group']",
                                    "Hidden": "@item()['Hidden']",
                                    "Indexed": "@item()['Indexed']",
                                    "IndexStatus": "@item()['IndexStatus']",
                                    "InternalName": "@item()['InternalName']",
                                    "JSLink": "@item()?['JSLink']",
                                    "PinnedToFiltersPane": "@item()['PinnedToFiltersPane']",
                                    "ReadOnlyField": "@item()['ReadOnlyField']",
                                    "Required": "@item()['Required']",
                                    "ShowInFiltersPane": "@item()['ShowInFiltersPane']",
                                    "Sortable": "@item()['Sortable']",
                                    "StaticName": "@item()['StaticName']",
                                    "Title": "@item()['Title']",
                                    "FieldTypeKind": "@item()['FieldTypeKind']",
                                    "TypeAsString": "@item()['TypeAsString']",
                                    "TypeDisplayName": "@item()['TypeDisplayName']",
                                    "TypeShortDescription": "@item()['TypeShortDescription']"
                                }
                            }
                        },
                        "Scope_7": {
                            "actions": {
                                "Send_an_HTTP_request_to_SharePoint_18": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "a29df98d-950d-4cbd-9a08-da76a9a4053c"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                            "parameters/method": "POST",
                                            "parameters/uri": "_api/web/lists",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose"
                                            },
                                            "parameters/body": "@body('Select_2')[0]"
                                        },
                                        "authentication": "@parameters('$authentication')",
                                        "retryPolicy": {
                                            "type": "none"
                                        }
                                    }
                                },
                                "Send_an_HTTP_request_to_SharePoint_6": {
                                    "runAfter": {
                                        "Set_variable_3": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "f6e26c3f-8d23-43fb-a122-13420aa75e74"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                            "parameters/method": "PATCH",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose",
                                                "IF-MATCH": "*",
                                                "X-HTTP-Method": "MERGE"
                                            },
                                            "parameters/body": "@body('Select_2')[0]"
                                        },
                                        "authentication": "@parameters('$authentication')",
                                        "retryPolicy": {
                                            "type": "none"
                                        }
                                    }
                                },
                                "Set_variable_3": {
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_18": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "bd445b37-dea7-4f94-bd08-a0e9fef0e9dc"
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "varListId",
                                        "value": "@{outputs('Send_an_HTTP_request_to_SharePoint_18')?['body']?['d']?['Id']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Scope_8": [
                                    "Failed",
                                    "TimedOut"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "9e97baa9-b341-482a-a21a-6f2c8ffc6652"
                            },
                            "type": "Scope"
                        },
                        "Send_an_HTTP_request_to_SharePoint_7": {
                            "runAfter": {
                                "Select_2": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "b46c2a7a-c40d-41b8-9804-e89623598360"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "HttpRequest",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                },
                                "parameters": {
                                    "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['fromSite']}",
                                    "parameters/method": "GET",
                                    "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')?$select=ReadSecurity,WriteSecurity",
                                    "parameters/headers": {
                                        "accept": "application/json;odata=verbose",
                                        "content-type": "application/json;odata=verbose"
                                    }
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Send_an_HTTP_request_to_SharePoint_7": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "1a7b019b-85e4-4f09-94de-690538cd38de"
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Send_an_HTTP_request_to_SharePoint_7')?['d']",
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "__metadata": {
                                            "type": "object",
                                            "properties": {
                                                "type": {
                                                    "type": "string"
                                                }
                                            }
                                        },
                                        "ReadSecurity": {
                                            "type": "integer"
                                        },
                                        "WriteSecurity": {
                                            "type": "integer"
                                        }
                                    }
                                }
                            }
                        },
                        "Send_an_HTTP_request_to_SharePoint_8": {
                            "runAfter": {
                                "Scope_7": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "a668f773-6ab0-42aa-ac43-c3cbe6872a62"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "HttpRequest",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                },
                                "parameters": {
                                    "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                    "parameters/method": "PATCH",
                                    "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')",
                                    "parameters/headers": {
                                        "accept": "application/json;odata=verbose",
                                        "content-type": "application/json;odata=verbose",
                                        "IF-MATCH": "*",
                                        "X-HTTP-Method": "MERGE"
                                    },
                                    "parameters/body": "@body('Parse_JSON')"
                                },
                                "authentication": "@parameters('$authentication')",
                                "retryPolicy": {
                                    "type": "none"
                                }
                            }
                        },
                        "Apply_to_each_Fields": {
                            "foreach": "@body('Filter_array')",
                            "actions": {
                                "Switch": {
                                    "runAfter": {},
                                    "cases": {
                                        "Case_FieldLookUp": {
                                            "case": 7,
                                            "actions": {
                                                "Send_an_HTTP_request_to_SharePoint_10": {
                                                    "runAfter": {},
                                                    "type": "OpenApiConnection",
                                                    "inputs": {
                                                        "host": {
                                                            "connectionName": "shared_sharepointonline",
                                                            "operationId": "HttpRequest",
                                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                                        },
                                                        "parameters": {
                                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                                            "parameters/method": "POST",
                                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/fields/addfield",
                                                            "parameters/headers": {
                                                                "accept": "application/json;odata=verbose",
                                                                "content-type": "application/json;odata=verbose"
                                                            },
                                                            "parameters/body": "\n{ \"parameters\" : {\n    \"__metadata\": {\n      \"type\": \"SP.FieldCreationInformation\"\n    },\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"LookupFieldName\": \"@{items('Apply_to_each_Fields')?['LookupField']}\",\n    \"LookupListId\": \"@{variables('varListId')}\"\n  }\n}\n"
                                                        },
                                                        "authentication": "@parameters('$authentication')",
                                                        "retryPolicy": {
                                                            "type": "none"
                                                        }
                                                    }
                                                },
                                                "Set_variable": {
                                                    "runAfter": {
                                                        "Send_an_HTTP_request_to_SharePoint_10": [
                                                            "Succeeded"
                                                        ]
                                                    },
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "varField",
                                                        "value": "\n{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": '@{items('Apply_to_each_Fields')?['ClientValidationFormula']}',\n    \"ClientValidationMessage\": '@{items('Apply_to_each_Fields')?['ClientValidationMessage']}',\n    \"CustomFormatter\": '@{items('Apply_to_each_Fields')?['CustomFormatter']}',\n    \"DefaultFormula\": '@{items('Apply_to_each_Fields')?['DefaultFormula']}',\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['Title']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"AllowMultipleValues\": \"@{items('Apply_to_each_Fields')?['AllowMultipleValues']}\",\n    \"IsRelationship\": \"@{items('Apply_to_each_Fields')?['IsRelationship']}\",\n    \"RelationshipDeleteBehavior\": \"@{items('Apply_to_each_Fields')?['RelationshipDeleteBehavior']}\",\n    \"UnlimitedLengthInDocumentLibrary\": \"@{items('Apply_to_each_Fields')?['UnlimitedLengthInDocumentLibrary']}\"    \n  }\n"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_People": {
                                            "case": 20,
                                            "actions": {
                                                "Set_variable_5": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "varField",
                                                        "value": "{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": '@{items('Apply_to_each_Fields')?['ClientValidationFormula']}',\n    \"ClientValidationMessage\": '@{items('Apply_to_each_Fields')?['ClientValidationMessage']}',\n    \"CustomFormatter\": '@{items('Apply_to_each_Fields')?['CustomFormatter']}',\n    \"DefaultFormula\": '@{items('Apply_to_each_Fields')?['DefaultFormula']}',\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"AllowMultipleValues\": \"@{items('Apply_to_each_Fields')?['AllowMultipleValues']}\",\n    \"AllowDisplay\": \"@{items('Apply_to_each_Fields')?['AllowDisplay']}\",\n    \"Presence\": \"@{items('Apply_to_each_Fields')?['Presence']}\",\n    \"SelectionGroup\": \"@{items('Apply_to_each_Fields')?['SelectionGroup']}\",\n    \"SelectionMode\": \"@{items('Apply_to_each_Fields')?['SelectionMode']}\",\n    \"UserDisplayOptions\": \"@{items('Apply_to_each_Fields')?['UserDisplayOptions']}\"\n  }"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_DateTime": {
                                            "case": 4,
                                            "actions": {
                                                "Set_variable_6": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "varField",
                                                        "value": "{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": '@{items('Apply_to_each_Fields')?['ClientValidationFormula']}',\n    \"ClientValidationMessage\": '@{items('Apply_to_each_Fields')?['ClientValidationMessage']}',\n    \"CustomFormatter\": '@{items('Apply_to_each_Fields')?['CustomFormatter']}',\n    \"DefaultFormula\": '@{items('Apply_to_each_Fields')?['DefaultFormula']}',\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"DateTimeCalendarType\": \"@{items('Apply_to_each_Fields')?['DateTimeCalendarType']}\",\n    \"DateFormat\": \"@{items('Apply_to_each_Fields')?['DateFormat']}\",\n    \"DisplayFormat\": \"@{items('Apply_to_each_Fields')?['DisplayFormat']}\",\n    \"FriendlyDisplayFormat\": \"@{items('Apply_to_each_Fields')?['FriendlyDisplayFormat']}\",\n    \"TimeFormat\": \"@{items('Apply_to_each_Fields')?['TimeFormat']}\"\n  }"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_Calculated": {
                                            "case": 17,
                                            "actions": {
                                                "Set_variable_7": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "varField",
                                                        "value": "{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": '@{items('Apply_to_each_Fields')?['ClientValidationFormula']}',\n    \"ClientValidationMessage\": '@{items('Apply_to_each_Fields')?['ClientValidationMessage']}',\n    \"CustomFormatter\": '@{items('Apply_to_each_Fields')?['CustomFormatter']}',\n    \"DefaultFormula\": '@{items('Apply_to_each_Fields')?['DefaultFormula']}',\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"CurrencyLocaleId\": \"@{items('Apply_to_each_Fields')?['CurrencyLocaleId']}\",\n    \"DateFormat\": \"@{items('Apply_to_each_Fields')?['DateFormat']}\",\n    \"DisplayFormat\": \"@{items('Apply_to_each_Fields')?['DisplayFormat']}\",\n    \"Formula\": '@{items('Apply_to_each_Fields')?['Formula']}',\n    \"OutputType\": \"@{items('Apply_to_each_Fields')?['OutputType']}\"\n  }"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_Choice": {
                                            "case": 15,
                                            "actions": {
                                                "Set_variable_8": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "varField",
                                                        "value": "{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": '@{items('Apply_to_each_Fields')?['ClientValidationFormula']}',\n    \"ClientValidationMessage\": '@{items('Apply_to_each_Fields')?['ClientValidationMessage']}',\n    \"CustomFormatter\": '@{replace(string(items('Apply_to_each_Fields')?['CustomFormatter']), '\"', '\\\"')}',\n    \"DefaultFormula\": '@{items('Apply_to_each_Fields')?['DefaultFormula']}',\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"FillInChoice\": \"@{items('Apply_to_each_Fields')?['FillInChoice']}\",\n    \"Mappings\": \"@{items('Apply_to_each_Fields')?['Mappings']}\",\n    \"Choices\": {\n      \"__metadata\": {\n        \"type\": \"Collection(Edm.String)\"\n      },\n      \"results\": @{items('Apply_to_each_Fields')?['Choices']?['results']}\n    }\n  }"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_Multiline": {
                                            "case": 3,
                                            "actions": {
                                                "Set_variable_9": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "varField",
                                                        "value": "{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": '@{items('Apply_to_each_Fields')?['ClientValidationFormula']}',\n    \"ClientValidationMessage\": '@{items('Apply_to_each_Fields')?['ClientValidationMessage']}',\n    \"CustomFormatter\": '@{items('Apply_to_each_Fields')?['CustomFormatter']}',\n    \"DefaultFormula\": '@{items('Apply_to_each_Fields')?['DefaultFormula']}',\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"AllowHyperlink\": \"@{items('Apply_to_each_Fields')?['AllowHyperlink']}\",\n    \"AppendOnly\": \"@{items('Apply_to_each_Fields')?['AppendOnly']}\",\n    \"NumberOfLines\": \"@{items('Apply_to_each_Fields')?['NumberOfLines']}\",\n    \"RestrictedMode\": \"@{items('Apply_to_each_Fields')?['RestrictedMode']}\",\n    \"RichText\": \"@{items('Apply_to_each_Fields')?['RichText']}\",\n    \"UnlimitedLengthInDocumentLibrary\": \"@{items('Apply_to_each_Fields')?['UnlimitedLengthInDocumentLibrary']}\",\n    \"WikiLinking\": \"@{items('Apply_to_each_Fields')?['WikiLinking']}\"\n  }"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_Number": {
                                            "case": 9,
                                            "actions": {
                                                "Set_variable_10": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "varField",
                                                        "value": "{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": '@{items('Apply_to_each_Fields')?['ClientValidationFormula']}',\n    \"ClientValidationMessage\": '@{items('Apply_to_each_Fields')?['ClientValidationMessage']}',\n    \"CustomFormatter\": '@{items('Apply_to_each_Fields')?['CustomFormatter']}',\n    \"DefaultFormula\": '@{items('Apply_to_each_Fields')?['DefaultFormula']}',\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"ValidationFormula\": '@{items('Apply_to_each_Fields')?['ValidationFormula']}',\n      \"ValidationMessage\": '@{items('Apply_to_each_Fields')?['ValidationMessage']}',\n    \"CommaSeparator\": \"@{items('Apply_to_each_Fields')?['CommaSeparator']}\",\n    \"CustomUnitName\": \"@{items('Apply_to_each_Fields')?['CustomUnitName']}\",\n    \"CustomUnitOnRight\": \"@{items('Apply_to_each_Fields')?['CustomUnitOnRight']}\",\n    \"DisplayFormat\": \"@{items('Apply_to_each_Fields')?['DisplayFormat']}\",\n    \"ShowAsPercentage\": \"@{items('Apply_to_each_Fields')?['ShowAsPercentage']}\",\n    \"Unit\": \"@{items('Apply_to_each_Fields')?['Unit']}\"\n  }"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_Currency": {
                                            "case": 10,
                                            "actions": {
                                                "Set_variable_11": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "varField",
                                                        "value": "{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": '@{items('Apply_to_each_Fields')?['ClientValidationFormula']}',\n    \"ClientValidationMessage\": '@{items('Apply_to_each_Fields')?['ClientValidationMessage']}',\n    \"CustomFormatter\": '@{items('Apply_to_each_Fields')?['CustomFormatter']}',\n    \"DefaultFormula\": '@{items('Apply_to_each_Fields')?['DefaultFormula']}',\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"ValidationFormula\": '@{items('Apply_to_each_Fields')?['ValidationFormula']}',\n      \"ValidationMessage\": '@{items('Apply_to_each_Fields')?['ValidationMessage']}',\n    \"CommaSeparator\": \"@{items('Apply_to_each_Fields')?['CommaSeparator']}\",\n    \"CustomUnitName\": \"@{items('Apply_to_each_Fields')?['CustomUnitName']}\",\n    \"CustomUnitOnRight\": \"@{items('Apply_to_each_Fields')?['CustomUnitOnRight']}\",\n    \"DisplayFormat\": \"@{items('Apply_to_each_Fields')?['DisplayFormat']}\",\n    \"Unit\": \"@{items('Apply_to_each_Fields')?['Unit']}\",\n    \"CurrencyLocaleId\": \"@{items('Apply_to_each_Fields')?['CurrencyLocaleId']}\"\n  }\n"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_Url": {
                                            "case": 11,
                                            "actions": {
                                                "Set_variable_12": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "varField",
                                                        "value": "{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": '@{items('Apply_to_each_Fields')?['ClientValidationFormula']}',\n    \"ClientValidationMessage\": '@{items('Apply_to_each_Fields')?['ClientValidationMessage']}',\n    \"CustomFormatter\": '@{items('Apply_to_each_Fields')?['CustomFormatter']}',\n    \"DefaultFormula\": '@{items('Apply_to_each_Fields')?['DefaultFormula']}',\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"DisplayFormat\": \"@{items('Apply_to_each_Fields')?['DisplayFormat']}\"\n  }\n"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_Text": {
                                            "case": 2,
                                            "actions": {
                                                "Set_variable_13": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "varField",
                                                        "value": "\n{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": \"@{items('Apply_to_each_Fields')?['ClientValidationFormula']}\",\n    \"ClientValidationMessage\": \"@{items('Apply_to_each_Fields')?['ClientValidationMessage']}\",\n    \"CustomFormatter\": \"@{items('Apply_to_each_Fields')?['CustomFormatter']}\",\n    \"DefaultFormula\": \"@{items('Apply_to_each_Fields')?['DefaultFormula']}\",\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"MaxLength\": \"@{items('Apply_to_each_Fields')?['MaxLength']}\"\n  }\n"
                                                    }
                                                }
                                            }
                                        },
                                        "Case_Single_Choice": {
                                            "case": 6,
                                            "actions": {
                                                "Set_variable_14": {
                                                    "runAfter": {},
                                                    "type": "SetVariable",
                                                    "inputs": {
                                                        "name": "varField",
                                                        "value": "{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": '@{items('Apply_to_each_Fields')?['ClientValidationFormula']}',\n    \"ClientValidationMessage\": '@{items('Apply_to_each_Fields')?['ClientValidationMessage']}',\n    \"CustomFormatter\": '@{replace(string(items('Apply_to_each_Fields')?['CustomFormatter']), '\"', '\\\"')}',\n    \"DefaultFormula\": '@{items('Apply_to_each_Fields')?['DefaultFormula']}',\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\",\n    \"FillInChoice\": \"@{items('Apply_to_each_Fields')?['FillInChoice']}\",\n    \"Mappings\": \"@{items('Apply_to_each_Fields')?['Mappings']}\",\n    \"Choices\": {\n      \"__metadata\": {\n        \"type\": \"Collection(Edm.String)\"\n      },\n      \"results\": @{items('Apply_to_each_Fields')?['Choices']?['results']}\n    }\n  }"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {
                                            "Set_variable_2": {
                                                "runAfter": {},
                                                "type": "SetVariable",
                                                "inputs": {
                                                    "name": "varField",
                                                    "value": "{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n    \"AutoIndexed\": \"@{items('Apply_to_each_Fields')?['AutoIndexed']}\",\n    \"CanBeDeleted\": \"@{items('Apply_to_each_Fields')?['CanBeDeleted']}\",\n    \"ClientValidationFormula\": \"@{items('Apply_to_each_Fields')?['ClientValidationFormula']}\",\n    \"ClientValidationMessage\": \"@{items('Apply_to_each_Fields')?['ClientValidationMessage']}\",\n    \"CustomFormatter\": '@{replace(string(items('Apply_to_each_Fields')?['CustomFormatter']), '\"', '\\\"')}',\n    \"DefaultFormula\": \"@{items('Apply_to_each_Fields')?['DefaultFormula']}\",\n    \"DefaultValue\": \"@{items('Apply_to_each_Fields')?['DefaultValue']}\",\n    \"Description\": \"@{items('Apply_to_each_Fields')?['Description']}\",\n    \"Direction\": \"@{items('Apply_to_each_Fields')?['Direction']}\",\n    \"EnforceUniqueValues\": \"@{items('Apply_to_each_Fields')?['EnforceUniqueValues']}\",\n    \"EntityPropertyName\": \"@{items('Apply_to_each_Fields')?['EntityPropertyName']}\",\n    \"Filterable\": \"@{items('Apply_to_each_Fields')?['Filterable']}\",\n    \"FromBaseType\": \"@{items('Apply_to_each_Fields')?['FromBaseType']}\",\n    \"Group\": \"@{items('Apply_to_each_Fields')?['Group']}\",\n    \"Hidden\": \"@{items('Apply_to_each_Fields')?['Hidden']}\",\n    \"Indexed\": \"@{items('Apply_to_each_Fields')?['Indexed']}\",\n    \"IndexStatus\": \"@{items('Apply_to_each_Fields')?['IndexStatus']}\",\n    \"InternalName\": \"@{items('Apply_to_each_Fields')?['InternalName']}\",\n    \"PinnedToFiltersPane\": \"@{items('Apply_to_each_Fields')?['PinnedToFiltersPane']}\",\n    \"ReadOnlyField\": \"@{items('Apply_to_each_Fields')?['ReadOnlyField']}\",\n    \"Required\": \"@{items('Apply_to_each_Fields')?['Required']}\",\n    \"ShowInFiltersPane\": \"@{items('Apply_to_each_Fields')?['ShowInFiltersPane']}\",\n    \"Sortable\": \"@{items('Apply_to_each_Fields')?['Sortable']}\",\n    \"StaticName\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"Title\": \"@{items('Apply_to_each_Fields')?['StaticName']}\",\n    \"FieldTypeKind\": \"@{items('Apply_to_each_Fields')?['FieldTypeKind']}\"\n  }"
                                                }
                                            }
                                        }
                                    },
                                    "expression": "@items('Apply_to_each_Fields')?['FieldTypeKind']",
                                    "metadata": {
                                        "operationMetadataId": "f7a0d4f5-ec2d-4694-8a32-342a5f304104"
                                    },
                                    "type": "Switch"
                                },
                                "Send_an_HTTP_request_to_SharePoint_2": {
                                    "runAfter": {
                                        "Switch": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "151b1501-5e2b-4460-bf3f-64ea98e898be"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                            "parameters/method": "GET",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/fields/GetByInternalNameOrTitle('@{items('Apply_to_each_Fields')['InternalName']}')",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose"
                                            }
                                        },
                                        "authentication": "@parameters('$authentication')",
                                        "retryPolicy": {
                                            "type": "none"
                                        }
                                    }
                                },
                                "Send_an_HTTP_request_to_SharePoint_5": {
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_2": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "0c1deba4-a7bf-474c-a1cc-3196ca1e36dc"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                            "parameters/method": "PATCH",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/fields/GetByInternalNameOrTitle('@{items('Apply_to_each_Fields')['InternalName']}')",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose",
                                                "IF-MATCH": "*",
                                                "X-HTTP-METHOD": "MERGE"
                                            },
                                            "parameters/body": "@variables('varField')"
                                        },
                                        "authentication": "@parameters('$authentication')",
                                        "retryPolicy": {
                                            "type": "none"
                                        }
                                    }
                                },
                                "Scope_2": {
                                    "actions": {},
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_5": [
                                            "Failed",
                                            "Skipped",
                                            "TimedOut"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "d45830e1-3e04-4d47-a9cc-a84b8ec059a7"
                                    },
                                    "type": "Scope"
                                },
                                "Scope_6": {
                                    "actions": {},
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_11": [
                                            "Failed",
                                            "TimedOut"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "a5763c6f-6972-46f6-b136-29ff953417d9"
                                    },
                                    "type": "Scope"
                                },
                                "Send_an_HTTP_request_to_SharePoint_11": {
                                    "runAfter": {
                                        "Scope_9": [
                                            "Succeeded",
                                            "Failed",
                                            "TimedOut"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "a357e65b-5a0c-419c-b795-d9ad5b11a631"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                            "parameters/method": "PATCH",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/fields/GetByInternalNameOrTitle('@{items('Apply_to_each_Fields')['InternalName']}')",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose",
                                                "IF-MATCH": "*",
                                                "X-HTTP-METHOD": "MERGE"
                                            },
                                            "parameters/body": "{\n    \"__metadata\": {\n      \"type\": \"@{items('Apply_to_each_Fields')?['__metadata']?['type']}\"\n    },\n\n    \"Title\": \"@{items('Apply_to_each_Fields')?['Title']}\"\n\n}"
                                        },
                                        "authentication": "@parameters('$authentication')",
                                        "retryPolicy": {
                                            "type": "none"
                                        }
                                    }
                                },
                                "Scope_9": {
                                    "actions": {
                                        "Send_an_HTTP_request_to_SharePoint_15": {
                                            "runAfter": {},
                                            "metadata": {
                                                "operationMetadataId": "d3e77315-6841-4f5e-9e2f-ba85ddab0424"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connectionName": "shared_sharepointonline",
                                                    "operationId": "HttpRequest",
                                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                                },
                                                "parameters": {
                                                    "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                                    "parameters/method": "POST",
                                                    "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/fields/",
                                                    "parameters/headers": {
                                                        "accept": "application/json;odata=verbose",
                                                        "content-type": "application/json;odata=verbose"
                                                    },
                                                    "parameters/body": "@variables('varField')"
                                                },
                                                "authentication": "@parameters('$authentication')",
                                                "retryPolicy": {
                                                    "type": "none"
                                                }
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_2": [
                                            "Failed",
                                            "Skipped",
                                            "TimedOut"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "3b67497e-9141-4397-8b61-720169927140"
                                    },
                                    "type": "Scope"
                                }
                            },
                            "runAfter": {
                                "Select_3": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "2355a483-6542-4305-80b0-a27255e57069"
                            },
                            "type": "Foreach"
                        },
                        "Scope_8": {
                            "actions": {
                                "Send_an_HTTP_request_to_SharePoint": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "e17c5e91-c854-4d9f-a961-ae3445bbae64"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                            "parameters/method": "POST",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose",
                                                "IF-MATCH": "*",
                                                "X-HTTP-Method": "MERGE"
                                            },
                                            "parameters/body": "@body('Select_2')[0]"
                                        },
                                        "authentication": "@parameters('$authentication')",
                                        "retryPolicy": {
                                            "type": "none"
                                        }
                                    }
                                },
                                "Set_variable_4": {
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "06a31263-1db3-4a6c-9b33-bd8349639d68"
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "varListId",
                                        "value": "@{outputs('Send_an_HTTP_request_to_SharePoint')?['body']?['d']?['Id']}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "e2c5d8e5-b97f-4aec-9328-be166905650c"
                            },
                            "type": "Scope"
                        }
                    },
                    "runAfter": {
                        "Initialize_variable_2": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "5e9c5620-8d39-484d-b2c5-a10b8a4a0db3"
                    },
                    "type": "Scope"
                },
                "Scope_4": {
                    "actions": {
                        "Send_an_HTTP_request_to_SharePoint_19": {
                            "runAfter": {},
                            "metadata": {
                                "operationMetadataId": "41443813-b32b-4af3-b0b2-403808c26541"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                                "host": {
                                    "connectionName": "shared_sharepointonline",
                                    "operationId": "HttpRequest",
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                },
                                "parameters": {
                                    "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['fromSite']}",
                                    "parameters/method": "GET",
                                    "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/views",
                                    "parameters/headers": {
                                        "accept": "application/json;odata=verbose",
                                        "content-type": "application/json;odata=verbose"
                                    }
                                },
                                "authentication": "@parameters('$authentication')"
                            }
                        },
                        "Parse_JSON_6": {
                            "runAfter": {
                                "Send_an_HTTP_request_to_SharePoint_19": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "92bce94c-2661-4d2d-ab49-45dc4b6a9e52"
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@outputs('Send_an_HTTP_request_to_SharePoint_19')?['body']?['d']?['results']",
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "properties": {
                                            "__metadata": {
                                                "type": "object",
                                                "properties": {
                                                    "id": {
                                                        "type": "string"
                                                    },
                                                    "uri": {
                                                        "type": "string"
                                                    },
                                                    "type": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "ViewFields": {
                                                "type": "object",
                                                "properties": {
                                                    "__deferred": {
                                                        "type": "object",
                                                        "properties": {
                                                            "uri": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            },
                                            "Aggregations": {},
                                            "AggregationsStatus": {},
                                            "AssociatedContentTypeId": {},
                                            "BaseViewId": {
                                                "type": "string"
                                            },
                                            "CalendarViewStyles": {},
                                            "ColumnWidth": {},
                                            "ContentTypeId": {
                                                "type": "object",
                                                "properties": {
                                                    "__metadata": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "StringValue": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "CustomFormatter": {},
                                            "DefaultView": {
                                                "type": "boolean"
                                            },
                                            "DefaultViewForContentType": {
                                                "type": "boolean"
                                            },
                                            "EditorModified": {
                                                "type": "boolean"
                                            },
                                            "Formats": {},
                                            "GridLayout": {},
                                            "Hidden": {
                                                "type": "boolean"
                                            },
                                            "HtmlSchemaXml": {
                                                "type": "string"
                                            },
                                            "Id": {
                                                "type": "string"
                                            },
                                            "ImageUrl": {
                                                "type": "string"
                                            },
                                            "IncludeRootFolder": {
                                                "type": "boolean"
                                            },
                                            "ViewJoins": {},
                                            "JSLink": {},
                                            "ListViewXml": {
                                                "type": "string"
                                            },
                                            "Method": {},
                                            "MobileDefaultView": {
                                                "type": "boolean"
                                            },
                                            "MobileView": {
                                                "type": "boolean"
                                            },
                                            "ModerationType": {},
                                            "NewDocumentTemplates": {},
                                            "OrderedView": {
                                                "type": "boolean"
                                            },
                                            "Paged": {
                                                "type": "boolean"
                                            },
                                            "PersonalView": {
                                                "type": "boolean"
                                            },
                                            "ViewProjectedFields": {},
                                            "ViewQuery": {},
                                            "ReadOnlyView": {
                                                "type": "boolean"
                                            },
                                            "RequiresClientIntegration": {
                                                "type": "boolean"
                                            },
                                            "RowLimit": {
                                                "type": "integer"
                                            },
                                            "Scope": {
                                                "type": "integer"
                                            },
                                            "ServerRelativePath": {
                                                "type": "object",
                                                "properties": {
                                                    "__metadata": {
                                                        "type": "object",
                                                        "properties": {
                                                            "type": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "DecodedUrl": {
                                                        "type": "string"
                                                    }
                                                }
                                            },
                                            "ServerRelativeUrl": {
                                                "type": "string"
                                            },
                                            "StyleId": {},
                                            "TabularView": {
                                                "type": "boolean"
                                            },
                                            "Threaded": {
                                                "type": "boolean"
                                            },
                                            "Title": {
                                                "type": "string"
                                            },
                                            "Toolbar": {},
                                            "ToolbarTemplateName": {},
                                            "ViewType": {
                                                "type": "string"
                                            },
                                            "ViewData": {},
                                            "ViewType2": {},
                                            "VisualizationInfo": {}
                                        },
                                        "required": [
                                            "__metadata",
                                            "ViewFields",
                                            "Aggregations",
                                            "AggregationsStatus",
                                            "AssociatedContentTypeId",
                                            "BaseViewId",
                                            "CalendarViewStyles",
                                            "ColumnWidth",
                                            "ContentTypeId",
                                            "CustomFormatter",
                                            "DefaultView",
                                            "DefaultViewForContentType",
                                            "EditorModified",
                                            "Formats",
                                            "GridLayout",
                                            "Hidden",
                                            "HtmlSchemaXml",
                                            "Id",
                                            "ImageUrl",
                                            "IncludeRootFolder",
                                            "ViewJoins",
                                            "JSLink",
                                            "ListViewXml",
                                            "Method",
                                            "MobileDefaultView",
                                            "MobileView",
                                            "ModerationType",
                                            "NewDocumentTemplates",
                                            "OrderedView",
                                            "Paged",
                                            "PersonalView",
                                            "ViewProjectedFields",
                                            "ViewQuery",
                                            "ReadOnlyView",
                                            "RequiresClientIntegration",
                                            "RowLimit",
                                            "Scope",
                                            "ServerRelativePath",
                                            "ServerRelativeUrl",
                                            "StyleId",
                                            "TabularView",
                                            "Threaded",
                                            "Title",
                                            "Toolbar",
                                            "ToolbarTemplateName",
                                            "ViewType",
                                            "ViewData",
                                            "ViewType2",
                                            "VisualizationInfo"
                                        ]
                                    }
                                }
                            }
                        },
                        "Select_6": {
                            "runAfter": {
                                "Parse_JSON_6": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "1ba096e3-8582-4bd3-8829-fa87508bdcbd"
                            },
                            "type": "Select",
                            "inputs": {
                                "from": "@body('Parse_JSON_6')",
                                "select": {
                                    "__metadata": {
                                        "type": "@{item()?['__metadata']?['type']}"
                                    },
                                    "ColumnWidth": "@{string(item()['ColumnWidth'])}",
                                    "ContentTypeId": {
                                        "__metadata": {
                                            "type": "@{item()?['ContentTypeId']?['__metadata']?['type']}"
                                        },
                                        "StringValue": "@{item()?['ContentTypeId']?['StringValue']}"
                                    },
                                    "CustomFormatter": "@{replace(replace(string(item()?['CustomFormatter']), '<', '&lt;'), '>', '&gt;')}",
                                    "DefaultView": "@item()['DefaultView']",
                                    "DefaultViewForContentType": "@item()['DefaultViewForContentType']",
                                    "EditorModified": "@item()['EditorModified']",
                                    "Hidden": "@item()['Hidden']",
                                    "ImageUrl": "@item()['ImageUrl']",
                                    "IncludeRootFolder": "@item()['IncludeRootFolder']",
                                    "MobileDefaultView": "@item()['MobileDefaultView']",
                                    "MobileView": "@item()['MobileView']",
                                    "OrderedView": "@item()['OrderedView']",
                                    "Paged": "@item()['Paged']",
                                    "PersonalView": "@item()['PersonalView']",
                                    "ViewQuery": "@item()['ViewQuery']",
                                    "ReadOnlyView": "@item()['ReadOnlyView']",
                                    "RequiresClientIntegration": "@item()['RequiresClientIntegration']",
                                    "RowLimit": "@item()['RowLimit']",
                                    "Scope": "@item()['Scope']",
                                    "TabularView": "@item()['TabularView']",
                                    "Threaded": "@item()['Threaded']",
                                    "Toolbar": "@item()['Toolbar']",
                                    "ViewType": "@item()['ViewType']",
                                    "Title": "@item()['Title']",
                                    "Aggregations": "@{string(item()['Aggregations'])}",
                                    "AggregationsStatus": "@{string(item()['AggregationsStatus'])}",
                                    "BaseViewId": "@{string(item()['BaseViewId'])}",
                                    "CalendarViewStyles": "@{string(item()['CalendarViewStyles'])}",
                                    "Formats": "@{string(item()['Formats'])}",
                                    "GridLayout": "@{string(item()['GridLayout'])}",
                                    "ViewJoins": "@{string(item()['ViewJoins'])}",
                                    "AssociatedContentTypeId": "@{string(item()['AssociatedContentTypeId'])}",
                                    "Method": "@{string(item()['Method'])}",
                                    "ModerationType": "@{string(item()['ModerationType'])}",
                                    "NewDocumentTemplates": "@{string(item()['NewDocumentTemplates'])}",
                                    "ViewProjectedFields": "@{string(item()['ViewProjectedFields'])}",
                                    "StyleId": "@{string(item()['StyleId'])}",
                                    "ToolbarTemplateName": "@{string(item()['ToolbarTemplateName'])}",
                                    "ViewData": "@{string(item()['ViewData'])}",
                                    "ViewType2": "@{string(item()['ViewType2'])}",
                                    "VisualizationInfo": "@item()['VisualizationInfo']"
                                }
                            }
                        },
                        "Filter_array_2": {
                            "runAfter": {
                                "Select_6": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "a3d3223a-37c5-44c7-accd-1a0002f868b6"
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Select_6')",
                                "where": "@equals(item()['DefaultView'], true)"
                            }
                        },
                        "Apply_to_each_4": {
                            "foreach": "@body('Filter_array_2')",
                            "actions": {
                                "Parse_JSON_8": {
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_25": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "1f0a93d1-233c-4b1b-a34a-cb103e05d06e"
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@outputs('Send_an_HTTP_request_to_SharePoint_25')?['body']?['d']",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "__metadata": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "uri": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "SchemaXml": {
                                                    "type": "string"
                                                },
                                                "Items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "__metadata": {
                                                            "type": "object",
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "results": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Apply_to_each_5": {
                                    "foreach": "@body('Parse_JSON_8')?['Items']?['results']",
                                    "actions": {
                                        "Send_an_HTTP_request_to_SharePoint_28": {
                                            "runAfter": {},
                                            "metadata": {
                                                "operationMetadataId": "1f0547ad-af84-452b-afa5-017f943f0a28"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connectionName": "shared_sharepointonline",
                                                    "operationId": "HttpRequest",
                                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                                },
                                                "parameters": {
                                                    "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                                    "parameters/method": "POST",
                                                    "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/views/getbytitle('@{items('Apply_to_each_4')['Title']}')/viewfields/addviewfield",
                                                    "parameters/headers": {
                                                        "accept": "application/json;odata=verbose",
                                                        "content-type": "application/json;odata=verbose"
                                                    },
                                                    "parameters/body": "{\"strField\":\"@{items('Apply_to_each_5')}\"}"
                                                },
                                                "authentication": "@parameters('$authentication')",
                                                "retryPolicy": {
                                                    "type": "none"
                                                }
                                            }
                                        },
                                        "Scope_5": {
                                            "actions": {},
                                            "runAfter": {
                                                "Send_an_HTTP_request_to_SharePoint_28": [
                                                    "Failed",
                                                    "Skipped",
                                                    "TimedOut"
                                                ]
                                            },
                                            "metadata": {
                                                "operationMetadataId": "27de3c97-c276-4a29-9391-8a8c08c78f81"
                                            },
                                            "type": "Scope"
                                        }
                                    },
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_3": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "4345d88f-a8d6-4859-9108-cde04ae65742"
                                    },
                                    "type": "Foreach"
                                },
                                "Send_an_HTTP_request_to_SharePoint_26": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "fe4716ff-a716-42c9-93ff-009341fdad04"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                            "parameters/method": "POST",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/views/getbytitle('@{items('Apply_to_each_4')['Title']}')",
                                            "parameters/headers": {
                                                "content-type": "application/json;odata=verbose",
                                                "accept": "application/json;odata=verbose",
                                                "IF-MATCH": "*",
                                                "X-HTTP-Method": "MERGE"
                                            },
                                            "parameters/body": "@items('Apply_to_each_4')"
                                        },
                                        "authentication": "@parameters('$authentication')",
                                        "retryPolicy": {
                                            "type": "none"
                                        }
                                    }
                                },
                                "Send_an_HTTP_request_to_SharePoint_25": {
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_26": [
                                            "Succeeded",
                                            "Failed",
                                            "TimedOut",
                                            "Skipped"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "1c57b43a-7793-4735-a7bb-2a95b5fb7bec"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['fromSite']}",
                                            "parameters/method": "GET",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/views/getbytitle('@{items('Apply_to_each_4')['Title']}')/viewfields",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose"
                                            }
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                },
                                "Send_an_HTTP_request_to_SharePoint_3": {
                                    "runAfter": {
                                        "Parse_JSON_8": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "86817ee3-0f4c-4fdf-8ca9-425a2ae8407d"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                            "parameters/method": "POST",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/views/getbytitle('@{items('Apply_to_each_4')['Title']}')/viewfields/removeallviewfields",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose"
                                            }
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Filter_array_2": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "5c940fd6-ae8a-4f3b-be15-29d4539c21b3"
                            },
                            "type": "Foreach"
                        },
                        "Filter_array_3": {
                            "runAfter": {
                                "Apply_to_each_4": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "f29724a4-b591-4036-826a-ebedd5e8091f"
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@body('Select_6')",
                                "where": "@equals(item()['DefaultView'], false)"
                            }
                        },
                        "Apply_to_each_2": {
                            "foreach": "@body('Filter_array_3')",
                            "actions": {
                                "Send_an_HTTP_request_to_SharePoint_21": {
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_9": [
                                            "Succeeded",
                                            "Skipped"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "a558aef6-134a-4e0d-8364-d6d131b6d2ab"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['fromSite']}",
                                            "parameters/method": "GET",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/views/getbytitle('@{items('Apply_to_each_2')['Title']}')/viewfields",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose"
                                            }
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                },
                                "Parse_JSON_7": {
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_21": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "acb0882d-cfbf-437a-95b4-09077f3d6855"
                                    },
                                    "type": "ParseJson",
                                    "inputs": {
                                        "content": "@outputs('Send_an_HTTP_request_to_SharePoint_21')?['body']?['d']",
                                        "schema": {
                                            "type": "object",
                                            "properties": {
                                                "__metadata": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "string"
                                                        },
                                                        "uri": {
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "SchemaXml": {
                                                    "type": "string"
                                                },
                                                "Items": {
                                                    "type": "object",
                                                    "properties": {
                                                        "__metadata": {
                                                            "type": "object",
                                                            "properties": {
                                                                "type": {
                                                                    "type": "string"
                                                                }
                                                            }
                                                        },
                                                        "results": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "Send_an_HTTP_request_to_SharePoint_22": {
                                    "runAfter": {},
                                    "metadata": {
                                        "operationMetadataId": "bb438395-9f36-44fb-9694-0f4992fc3cf9"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                            "parameters/method": "GET",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/views/getbytitle('@{items('Apply_to_each_2')['Title']}')",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose"
                                            }
                                        },
                                        "authentication": "@parameters('$authentication')",
                                        "retryPolicy": {
                                            "type": "none"
                                        }
                                    }
                                },
                                "Apply_to_each_3": {
                                    "foreach": "@body('Parse_JSON_7')?['Items']?['results']",
                                    "actions": {
                                        "Send_an_HTTP_request_to_SharePoint_23": {
                                            "runAfter": {},
                                            "metadata": {
                                                "operationMetadataId": "20438026-f0ef-4636-8a52-a3ef83d75d9a"
                                            },
                                            "type": "OpenApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connectionName": "shared_sharepointonline",
                                                    "operationId": "HttpRequest",
                                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                                },
                                                "parameters": {
                                                    "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                                    "parameters/method": "POST",
                                                    "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/views/getbytitle('@{items('Apply_to_each_2')['Title']}')/viewfields/addviewfield",
                                                    "parameters/headers": {
                                                        "accept": "application/json;odata=verbose",
                                                        "content-type": "application/json;odata=verbose"
                                                    },
                                                    "parameters/body": "{\"strField\":\"@{items('Apply_to_each_3')}\"}"
                                                },
                                                "authentication": "@parameters('$authentication')",
                                                "retryPolicy": {
                                                    "type": "none"
                                                }
                                            }
                                        },
                                        "Scope": {
                                            "actions": {},
                                            "runAfter": {
                                                "Send_an_HTTP_request_to_SharePoint_23": [
                                                    "Failed",
                                                    "Skipped",
                                                    "TimedOut"
                                                ]
                                            },
                                            "metadata": {
                                                "operationMetadataId": "9338d466-aba9-4a2b-aac8-89a6c71da6f3"
                                            },
                                            "type": "Scope"
                                        }
                                    },
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_4": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "2eb14cf5-47a5-40bc-bde3-f8cd0de6821f"
                                    },
                                    "type": "Foreach"
                                },
                                "Send_an_HTTP_request_to_SharePoint_4": {
                                    "runAfter": {
                                        "Parse_JSON_7": [
                                            "Succeeded"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "4941d244-fb13-4a0a-8584-90b79f9aa569"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                            "parameters/method": "POST",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/views/getbytitle('@{items('Apply_to_each_2')['Title']}')/viewfields/removeallviewfields",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose"
                                            }
                                        },
                                        "authentication": "@parameters('$authentication')"
                                    }
                                },
                                "Send_an_HTTP_request_to_SharePoint_9": {
                                    "runAfter": {
                                        "Send_an_HTTP_request_to_SharePoint_22": [
                                            "Failed",
                                            "TimedOut"
                                        ]
                                    },
                                    "metadata": {
                                        "operationMetadataId": "632b24fa-69bd-42cc-9f9c-c821c35737fe"
                                    },
                                    "type": "OpenApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connectionName": "shared_sharepointonline",
                                            "operationId": "HttpRequest",
                                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                                        },
                                        "parameters": {
                                            "dataset": "https://@{parameters('envpar_config__TenantName')}.sharepoint.com/sites/@{triggerBody()?['toSite']}",
                                            "parameters/method": "POST",
                                            "parameters/uri": "_api/web/lists/getbytitle('@{triggerBody()?['ListTitle']}')/views",
                                            "parameters/headers": {
                                                "accept": "application/json;odata=verbose",
                                                "content-type": "application/json;odata=verbose"
                                            },
                                            "parameters/body": "@items('Apply_to_each_2')"
                                        },
                                        "authentication": "@parameters('$authentication')",
                                        "retryPolicy": {
                                            "type": "none"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Filter_array_3": [
                                    "Succeeded"
                                ]
                            },
                            "metadata": {
                                "operationMetadataId": "e3a55b49-038c-41ae-8b41-8f56bb049dac"
                            },
                            "type": "Foreach"
                        }
                    },
                    "runAfter": {
                        "Scope_3": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "7b9b2d8d-55b4-4a40-92b5-286e1c67a0a1"
                    },
                    "type": "Scope"
                },
                "Response": {
                    "runAfter": {
                        "Scope_4": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "47b421a1-b5e5-4b81-884a-159eb60f8e68"
                    },
                    "type": "Response",
                    "kind": "Http",
                    "inputs": {
                        "statusCode": 200
                    }
                },
                "Initialize_variable": {
                    "runAfter": {},
                    "metadata": {
                        "operationMetadataId": "f52ed13d-a5f7-4d9c-aca5-d42fb81e53f7"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "varCounter1",
                                "type": "integer",
                                "value": 0
                            }
                        ]
                    }
                },
                "Initialize_variable_2": {
                    "runAfter": {
                        "Initialize_variable_3": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "8aa5de9c-d200-44fa-a36c-35cd218b76dc"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "varField",
                                "type": "string"
                            }
                        ]
                    }
                },
                "Initialize_variable_3": {
                    "runAfter": {
                        "Initialize_variable": [
                            "Succeeded"
                        ]
                    },
                    "metadata": {
                        "operationMetadataId": "939fd0a6-72c6-4627-bf50-021393435e4f"
                    },
                    "type": "InitializeVariable",
                    "inputs": {
                        "variables": [
                            {
                                "name": "varListId",
                                "type": "string"
                            }
                        ]
                    }
                }
            },
            "outputs": {}
        }
    },
    "schemaVersion": "1.0.0.0"
}