Workflows/cycle0__AzureAD_Signed-520AA3A9-29E3-EA11-A818-000D3AF42A37.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsharepointonline_9ad14"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      },
      "shared_outlook": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedoutlook_63eeb"
        },
        "api": {
          "name": "shared_outlook"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "envpar_http__AzureAD_Signed (new_envpar_http__AzureAD_Signed)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_http__AzureAD_Signed",
            "description": "This flow HTTP trigger URL. Enter space character ( ) for none. Filled automatically."
          }
        },
        "envpar_config__TenantName (new_envpar_config__TenantName)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__TenantName",
            "description": "Required. Org Name orgname (this is the prefix of the auto assigned domain orgname.onmicrosoft.com)"
          }
        },
        "envpar_config__TenantDomain (new_envpar_config__TenantDomain)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__TenantDomain",
            "description": "Required. Org Domain name such as orgname.onmicrosoft.com or orgname.com"
          }
        },
        "envpar_config__GraphAppId (new_envpar_config__GraphAppId)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__GraphAppId",
            "description": "Service Principal Id for Graph Api. Enter space character ( ) for none. Filled automatically."
          }
        },
        "envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__GraphAppSecret",
            "description": "Service Principal Secret for Graph Api. Enter space character ( ) for none. Filled automatically."
          }
        },
        "envpar_config__LoginAppId (new_envpar_config__LoginAppId)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__LoginAppId",
            "description": "Service Principal Id for Auth Api. Enter space character ( ) for none. Filled automatically."
          }
        },
        "envpar_config__LoginAppSecret (new_envpar_config__LoginAppSecret)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__LoginAppSecret",
            "description": "Service Principal Secret for Auth Api. Enter space character ( ) for none. Filled automatically."
          }
        },
        "envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__CycleZeroName",
            "description": "Required. Could have many environments N each with its envN_cycle0 template"
          }
        },
        "envpar_config__CyclesRename (new_envpar_config__CyclesRename)": {
          "defaultValue": "",
          "type": "String",
          "metadata": {
            "schemaName": "new_envpar_config__CyclesRename",
            "description": "Required. Rename cycle to class, for example. So now class1, ... classN"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "fe4569d6-e35a-4288-b2d3-fc65be477bd2"
          },
          "type": "Request",
          "kind": "Http",
          "inputs": {
            "schema": {},
            "method": "GET"
          },
          "description": "GET ..."
        }
      },
      "actions": {
        "Initialize_variable_access_token": {
          "runAfter": {
            "Initialize_variable_state": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "84dfc9ad-2100-45d8-bfd8-2cf49806ba4e"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "access_token",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_state": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "dffda443-e42c-41c1-82e0-955e559ad7e6"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "state",
                "type": "string",
                "value": "@{coalesce(triggerOutputs()?['queries']?['state'], '/sign')}"
              }
            ]
          }
        },
        "Response": {
          "runAfter": {
            "Condition_sign_up": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "ceacbc3b-3761-43c1-9c36-77e462809032"
          },
          "type": "Response",
          "kind": "Http",
          "inputs": {
            "statusCode": 200,
            "headers": {
              "content-type": "text/html"
            },
            "body": "@variables('responseBody')"
          }
        },
        "Initialize_variable_responseBody": {
          "runAfter": {
            "Initialize_variable_redirectUrl": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "22338675-a879-4593-8ff2-35e5872f0238"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "responseBody",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_email": {
          "runAfter": {
            "Initialize_variable_access_token": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "e470693c-3d0d-4621-9424-1fdd4c4296ae"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "email",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_redirectUrl": {
          "runAfter": {
            "Initialize_variable_userId": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "fc5bc294-3723-4a37-a257-c4a32dcbfc05"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "redirectUrl",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_userId": {
          "runAfter": {
            "Initialize_variable_email": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "f99be9f5-ed73-4f85-b0a2-95b708d43d3f"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "userId",
                "type": "string"
              }
            ]
          }
        },
        "Condition_sign_up_email_2": {
          "actions": {
            "Compose_Delay": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "74db4039-71b6-4c0b-80b7-2b47949e3674"
              },
              "type": "Compose",
              "inputs": 10
            },
            "Delay": {
              "runAfter": {
                "Compose_Delay": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "e8a5166b-5c2e-4eec-8c77-5a900e6bf936"
              },
              "type": "Wait",
              "inputs": {
                "interval": {
                  "count": "@outputs('Compose_Delay')",
                  "unit": "Minute"
                }
              }
            },
            "HTTP_Get_user": {
              "runAfter": {
                "Delay": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "b3591781-d0e2-4e2d-b930-5b79789a73ca"
              },
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://graph.microsoft.com/v1.0/users/@{variables('userId')}/?$select=userPrincipalName,mail,mailNickname,otherMails,userType,creationType,proxyAddresses,externalUserState,externalUserStateChangeDateTime,identities,assignedLicenses,assignedPlans,createdDateTime",
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                  "audience": "https://graph.microsoft.com",
                  "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                  "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                }
              }
            },
            "Parse_JSON": {
              "runAfter": {
                "HTTP_Get_user": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "f48a81e4-520b-4252-bf79-6f98138895d1"
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('HTTP_Get_user')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "userPrincipalName": {
                      "type": "string"
                    },
                    "mail": {
                      "type": "string"
                    },
                    "mailNickname": {
                      "type": "string"
                    },
                    "otherMails": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "userType": {
                      "type": "string"
                    },
                    "creationType": {
                      "type": "string"
                    },
                    "proxyAddresses": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "externalUserState": {
                      "type": "string"
                    },
                    "externalUserStateChangeDateTime": {
                      "type": "string"
                    },
                    "identities": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "signInType": {
                            "type": "string"
                          },
                          "issuer": {
                            "type": "string"
                          },
                          "issuerAssignedId": {}
                        }
                      }
                    },
                    "assignedLicenses": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "disabledPlans": {
                            "type": "array"
                          },
                          "skuId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "assignedPlans": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "assignedDateTime": {
                            "type": "string"
                          },
                          "capabilityStatus": {
                            "type": "string"
                          },
                          "service": {
                            "type": "string"
                          },
                          "servicePlanId": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "createdDateTime": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Condition_not_accepted_invitation": {
              "actions": {
                "Optional_Send_an_email_Not_Signed_Up": {
                  "runAfter": {
                    "Condition_delete_config": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "18e90872-68e9-4fec-85c2-5d42561f38e6"
                  },
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": {
                      "connectionName": "shared_outlook",
                      "operationId": "SendEmailV2",
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_outlook"
                    },
                    "parameters": {
                      "emailMessage/To": "@variables('email')",
                      "emailMessage/Subject": "🔴 Please Complete Your Sign-Up @ WorkSchool 365",
                      "emailMessage/Body": "<p>Thank you for signing up with WorkSchool 365: Your Market for Learning Reviewers.<br>\n<br>\nHowever we notice that you did not sucessfully complete the enrollment to start enjoying your WorkSchool 365 app:<br>\n&nbsp;&nbsp;@{variables('email')} @ @{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}<br>\n<br>\n✓ <a href=\"@{parameters('envpar_http__AzureAD_Signed (new_envpar_http__AzureAD_Signed)')}&state=@{concat('%2Fsign_up_email%2F', \n if(equals(string(split(variables('state'), '/')?[2]), ''), concat(parameters('envpar_config__CyclesRename (new_envpar_config__CyclesRename)'), '1'), string(split(variables('state'), '/')?[2]))\n)}&email=@{variables('email')}\">Click Here To Complete Your Sign-Up...</a><br>\n✓ or Reply To This Email To Get Help.<br>\n<br>\nThank you for your interest in our solution offer.<br>\n<br>\n--&nbsp;<br>\n@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')} @ WorkSchool 365</p>",
                      "emailMessage/Cc": "admin@anthroplogic.onmicrosoft.com",
                      "emailMessage/Importance": "Normal"
                    },
                    "authentication": "@parameters('$authentication')"
                  }
                },
                "Condition_delete_config": {
                  "actions": {},
                  "runAfter": {},
                  "else": {
                    "actions": {
                      "Apply_to_each": {
                        "foreach": "@outputs('Get_items')?['body/value']",
                        "actions": {
                          "Delete_item": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "8ab6b9ff-49c4-47c0-806b-e523277fe706"
                            },
                            "type": "OpenApiConnection",
                            "inputs": {
                              "host": {
                                "connectionName": "shared_sharepointonline",
                                "operationId": "DeleteItem",
                                "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                              },
                              "parameters": {
                                "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{if(equals(string(split(variables('state'), '/')?[2]), ''), concat(parameters('envpar_config__CyclesRename (new_envpar_config__CyclesRename)'), '1'), string(split(variables('state'), '/')?[2]))}",
                                "table": "UsersList",
                                "id": "@items('Apply_to_each')?['ID']"
                              },
                              "authentication": "@parameters('$authentication')"
                            }
                          }
                        },
                        "runAfter": {
                          "Get_items": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "99fbe5d7-1239-4581-91e6-91045cb2562f"
                        },
                        "type": "Foreach"
                      },
                      "Create_item_LogsList": {
                        "runAfter": {
                          "Apply_to_each": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "ccfa3fc0-7aa4-40a4-b5fe-1ce2a47ab56b"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sharepointonline",
                            "operationId": "PostItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                          },
                          "parameters": {
                            "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                            "table": "LogsList",
                            "item/Title": "DELETE TODO sign_up_email_post @{variables('email')} , state @{variables('state')} ,  did not sign in",
                            "item/Resource": "UsersList",
                            "item/ResourceId": "@variables('email')",
                            "item/ChangeType": "DELETE",
                            "item/Source": "cycle0__Signed"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "HTTP_Delete_email_user": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "711f7dc0-ae2a-41d5-8642-4f9bffacce1b"
                        },
                        "type": "Http",
                        "inputs": {
                          "method": "DELETE",
                          "uri": "https://graph.microsoft.com/v1.0/users/@{variables('userId')}",
                          "authentication": {
                            "type": "ActiveDirectoryOAuth",
                            "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                            "audience": "https://graph.microsoft.com",
                            "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                            "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                          }
                        }
                      },
                      "Get_items": {
                        "runAfter": {
                          "HTTP_Delete_email_user": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "e7e1ae04-af8a-41e9-b430-5416b2d83562"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetItems",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                          },
                          "parameters": {
                            "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{if(equals(string(split(variables('state'), '/')?[2]), ''), concat(parameters('envpar_config__CyclesRename (new_envpar_config__CyclesRename)'), '1'), string(split(variables('state'), '/')?[2]))}",
                            "table": "UsersList",
                            "$filter": "Title eq '@{variables('email')}'",
                            "$top": 1
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      }
                    }
                  },
                  "expression": {
                    "equals": [
                      "@true",
                      "@true"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "358422bf-183f-4141-a5c7-f595d1854628"
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Parse_JSON": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Scope_8": {
                    "actions": {},
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "a24926c8-32b4-4c9b-a902-38d695eee743"
                    },
                    "type": "Scope"
                  },
                  "Apply_to_each_GroupsList_3": {
                    "foreach": "@outputs('Get_items_GroupsList_3')?['body/value']",
                    "actions": {
                      "HTTP_Add_Cycle1GroupId": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "c154ad51-c1e2-400c-8207-e23a78ef763e"
                        },
                        "type": "Http",
                        "inputs": {
                          "method": "POST",
                          "uri": "https://graph.microsoft.com/v1.0/groups/@{items('Apply_to_each_GroupsList_3')?['Cycle1GroupId']}/members/$ref",
                          "body": {
                            "@@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/@{variables('userId')}"
                          },
                          "authentication": {
                            "type": "ActiveDirectoryOAuth",
                            "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                            "audience": "https://graph.microsoft.com",
                            "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                            "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                          }
                        }
                      },
                      "Scope_3": {
                        "actions": {},
                        "runAfter": {
                          "HTTP_Add_Cycle1GroupId": [
                            "Failed",
                            "Skipped",
                            "TimedOut"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "93f34a79-5e26-4502-b2dc-f4ec44fba988"
                        },
                        "type": "Scope"
                      }
                    },
                    "runAfter": {
                      "Get_items_GroupsList_3": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "e1660266-2f58-4024-bdbe-342f8710cf3f"
                    },
                    "type": "Foreach"
                  },
                  "Get_items_GroupsList_3": {
                    "runAfter": {
                      "Scope_8": [
                        "Failed"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "30fc8bd0-9857-4484-9f29-190440e26092"
                    },
                    "type": "OpenApiConnection",
                    "inputs": {
                      "host": {
                        "connectionName": "shared_sharepointonline",
                        "operationId": "GetItems",
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                      },
                      "parameters": {
                        "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                        "table": "GroupsList",
                        "$filter": "Cycle1GroupName eq '@{if(equals(string(split(variables('state'), '/')?[2]), ''), concat(parameters('envpar_config__CyclesRename (new_envpar_config__CyclesRename)'), '1'), string(split(variables('state'), '/')?[2]))}'"
                      },
                      "authentication": "@parameters('$authentication')"
                    }
                  }
                }
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@body('Parse_JSON')?['creationType']",
                      "@'Invitation'"
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@body('Parse_JSON')?['externalUserState']",
                        "@'Accepted'"
                      ]
                    }
                  },
                  {
                    "equals": [
                      "@less( ticks(utcNow()) , ticks(addMinutes(body('Parse_JSON')?['createdDateTime'], add(5,outputs('Compose_Delay')))) )",
                      "@true"
                    ]
                  }
                ]
              },
              "metadata": {
                "operationMetadataId": "3cc113c4-0d75-4eaf-a16e-94f8867fc9f0"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Response": [
              "Succeeded",
              "Failed",
              "Skipped"
            ]
          },
          "expression": {
            "and": [
              {
                "equals": [
                  "@split(variables('state'), '/')?[1]",
                  "sign_up_email"
                ]
              },
              {
                "equals": [
                  "@length(body('HTTP_Already_user')?['value'])",
                  "@0"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "e99a4364-3f31-48b2-a656-fa8418cf6f6d"
          },
          "type": "If"
        },
        "Condition_sign_up_email": {
          "actions": {
            "Set_variable_email": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "f9b851de-cb0d-4ad7-aa09-41ea3e6fb5a2"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "email",
                "value": "@{replace(toLower(trim(string(triggerOutputs()?['queries']?['email']))), '/', '')}"
              }
            }
          },
          "runAfter": {
            "Condition_sign_teams": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Condition_code": {
                "actions": {},
                "runAfter": {},
                "else": {
                  "actions": {
                    "Scope_get_token": {
                      "actions": {
                        "HTTP_Post_code": {
                          "runAfter": {},
                          "metadata": {
                            "operationMetadataId": "09df6247-d456-43da-966c-376f64d92fc2"
                          },
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "https://login.microsoftonline.com/@{parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')}/oauth2/v2.0/token",
                            "headers": {
                              "Content-Type": "application/x-www-form-urlencoded"
                            },
                            "body": "client_id=@{parameters('envpar_config__LoginAppId (new_envpar_config__LoginAppId)')}&scope=user.read+openid+profile+email&code=@{triggerOutputs()['queries']?['code']}&grant_type=authorization_code&client_secret=@{uriComponent(parameters('envpar_config__LoginAppSecret (new_envpar_config__LoginAppSecret)'))}&redirect_uri=@{uriComponent(parameters('envpar_http__AzureAD_Signed (new_envpar_http__AzureAD_Signed)'))}"
                          }
                        },
                        "Set_variable_access_token": {
                          "runAfter": {
                            "HTTP_Post_code": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "0a9cf7a5-db51-44f0-9053-4fb56c8fbca2"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "access_token",
                            "value": "@{body('HTTP_Post_code')?['access_token']}"
                          }
                        },
                        "Parse_JSON_decode_token": {
                          "runAfter": {
                            "Compose_token_content": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2ce775f7-9787-42ab-a9f7-ef8d6a19cc74"
                          },
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@decodeBase64(if( equals(mod(length(outputs('Compose_token_content')), 4), 0) , outputs('Compose_token_content')\r\n, if( equals(mod(length(outputs('Compose_token_content')), 4), 2) , concat(outputs('Compose_token_content'), '==') \r\n, concat(outputs('Compose_token_content'), '=') ) ))",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "aud": {
                                  "type": "string"
                                },
                                "iss": {
                                  "type": "string"
                                },
                                "iat": {
                                  "type": "integer"
                                },
                                "nbf": {
                                  "type": "integer"
                                },
                                "exp": {
                                  "type": "integer"
                                },
                                "acct": {
                                  "type": "integer"
                                },
                                "acr": {
                                  "type": "string"
                                },
                                "aio": {
                                  "type": "string"
                                },
                                "app_displayname": {
                                  "type": "string"
                                },
                                "appid": {
                                  "type": "string"
                                },
                                "appidacr": {
                                  "type": "string"
                                },
                                "email": {
                                  "type": "string"
                                },
                                "family_name": {
                                  "type": "string"
                                },
                                "given_name": {
                                  "type": "string"
                                },
                                "idp": {
                                  "type": "string"
                                },
                                "idtyp": {
                                  "type": "string"
                                },
                                "ipaddr": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "oid": {
                                  "type": "string"
                                },
                                "platf": {
                                  "type": "string"
                                },
                                "puid": {
                                  "type": "string"
                                },
                                "rh": {
                                  "type": "string"
                                },
                                "scp": {
                                  "type": "string"
                                },
                                "signin_state": {
                                  "type": "array",
                                  "items": {
                                    "type": "string"
                                  }
                                },
                                "sub": {
                                  "type": "string"
                                },
                                "tenant_region_scope": {
                                  "type": "string"
                                },
                                "tid": {
                                  "type": "string"
                                },
                                "unique_name": {
                                  "type": "string"
                                },
                                "uti": {
                                  "type": "string"
                                },
                                "ver": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        },
                        "Compose_token_content": {
                          "runAfter": {
                            "Scope_7": [
                              "Succeeded",
                              "Skipped"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "a6549bd2-ba62-4db2-990b-1ba0e652258a"
                          },
                          "type": "Compose",
                          "inputs": "@first(skip(split(variables('access_token'), '.'), 1))"
                        },
                        "Set_variable_email_2": {
                          "runAfter": {
                            "Parse_JSON_decode_token": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "f64df14e-b294-496b-90b0-f001bdeb1765"
                          },
                          "type": "SetVariable",
                          "inputs": {
                            "name": "email",
                            "value": "@{toLower(string(body('Parse_JSON_decode_token')?['email']))}"
                          }
                        },
                        "Scope_5": {
                          "actions": {
                            "HTTP": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "5006b6e3-94e5-45ab-9183-04b6fe15d6b9"
                              },
                              "type": "Http",
                              "inputs": {
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/oidc/userinfo",
                                "authentication": {
                                  "type": "Raw",
                                  "value": "Bearer @{variables('access_token')}"
                                }
                              }
                            },
                            "Set_variable_email_3": {
                              "runAfter": {
                                "HTTP": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "61557bad-bdab-4152-81cb-2d4984497a91"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "email",
                                "value": "@{toLower(string(body('HTTP')?['email']))}"
                              }
                            }
                          },
                          "runAfter": {
                            "Parse_JSON_decode_token": [
                              "Failed"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "497a7c09-c12b-420c-ab8c-db6e7ee0dc23"
                          },
                          "type": "Scope"
                        },
                        "Scope_6": {
                          "actions": {},
                          "runAfter": {
                            "Set_variable_email_2": [
                              "Skipped",
                              "Succeeded"
                            ],
                            "Scope_5": [
                              "Succeeded"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "332a96ff-df32-40e5-889b-80b36d7d314d"
                          },
                          "type": "Scope"
                        },
                        "Scope_7": {
                          "actions": {
                            "HTTP_2": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "1947f467-4a3d-4267-a39d-b5cd2836caf7"
                              },
                              "type": "Http",
                              "inputs": {
                                "method": "POST",
                                "uri": "https://login.microsoftonline.com/@{parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')}/oauth2/v2.0/token",
                                "headers": {
                                  "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "body": "client_id=@{parameters('envpar_config__LoginAppId (new_envpar_config__LoginAppId)')}&scope=user.read+openid+profile+email&code=@{triggerOutputs()['queries']?['code']}&grant_type=authorization_code&client_secret=@{uriComponent(parameters('envpar_config__LoginAppSecret (new_envpar_config__LoginAppSecret)'))}&redirect_uri=@{uriComponent(parameters('envpar_http__AzureAD_Signed (new_envpar_http__AzureAD_Signed)'))}"
                              }
                            },
                            "Set_variable_2": {
                              "runAfter": {
                                "HTTP_2": [
                                  "Succeeded"
                                ]
                              },
                              "metadata": {
                                "operationMetadataId": "949839d4-f076-4d4b-b4d8-2864b42792dc"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "access_token",
                                "value": "@{body('HTTP_2')?['access_token']}"
                              }
                            }
                          },
                          "runAfter": {
                            "Set_variable_access_token": [
                              "Skipped"
                            ]
                          },
                          "metadata": {
                            "operationMetadataId": "2579ce8d-379b-4642-b03f-48e600907e48"
                          },
                          "type": "Scope"
                        }
                      },
                      "runAfter": {},
                      "metadata": {
                        "operationMetadataId": "65fe687b-59c1-483c-89ea-4e3c945b570a"
                      },
                      "type": "Scope"
                    }
                  }
                },
                "expression": {
                  "equals": [
                    "@string(triggerOutputs()?['queries']?['code'])",
                    "@''"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "077fb780-05b9-4684-b03d-f1bc765d605d"
                },
                "type": "If"
              }
            }
          },
          "expression": {
            "equals": [
              "@split(variables('state'), '/')?[1]",
              "sign_up_email"
            ]
          },
          "metadata": {
            "operationMetadataId": "c39b0bf5-f6f2-4659-b6af-029771091aef"
          },
          "type": "If"
        },
        "Condition_sign_up": {
          "actions": {
            "Set_variable_redirectUrl_2": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "ec729cf7-fc41-411f-9c84-95c74895f830"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "redirectUrl",
                "value": "https://login.microsoftonline.com/@{parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')}/oauth2/v2.0/authorize?client_id=@{parameters('envpar_config__LoginAppId (new_envpar_config__LoginAppId)')}&response_mode=query&response_type=code&scope=user.read+openid+profile+email&login_hint=@{uriComponent(variables('email'))}&redirect_uri=@{uriComponent(parameters('envpar_http__AzureAD_Signed (new_envpar_http__AzureAD_Signed)'))}&state=@{if(equals(triggerOutputs()?['queries']?['mode'], 'teams'),'%2Fsign_teams',  concat('%2Fsign%2F', \r\n if(equals(string(split(variables('state'), '/')?[2]), ''), concat(parameters('envpar_config__CyclesRename (new_envpar_config__CyclesRename)'), '1'), string(split(variables('state'), '/')?[2]))\r\n))}"
              }
            },
            "Create_item_LogsList_2": {
              "runAfter": {
                "Apply_to_each_GroupsList": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "554db79f-7c53-40a0-a002-13ca6d270d45"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "PostItem",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                  "table": "LogsList",
                  "item/Title": "Created user @{variables('email')} by @{split(variables('state'), '/')?[1]}",
                  "item/Resource": "UsersList",
                  "item/ResourceId": "@variables('email')",
                  "item/ChangeType": "CREATE",
                  "item/Source": "cycle0__AzureAD_Signed"
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "Condition_sign_up_microsoft": {
              "actions": {},
              "runAfter": {
                "Condition_Already_user": [
                  "Succeeded"
                ]
              },
              "expression": {
                "equals": [
                  "@split(variables('state'), '/')?[1]",
                  "sign_up_microsoft"
                ]
              },
              "metadata": {
                "operationMetadataId": "f6f850ea-597e-44e1-9bbc-1d77f4c1f979"
              },
              "type": "If"
            },
            "Apply_to_each_GroupsList": {
              "foreach": "@outputs('Get_items_GroupsList')?['body/value']",
              "actions": {
                "HTTP_Add_to_Cycle1": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "7f349d21-63a1-478e-ad83-47b190d18874"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://graph.microsoft.com/v1.0/groups/@{items('Apply_to_each_GroupsList')?['Cycle1GroupId']}/members/$ref",
                    "headers": {
                      "Content-type": "application/json"
                    },
                    "body": {
                      "@@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/@{variables('userId')}"
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                      "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                    }
                  }
                },
                "Scope": {
                  "actions": {},
                  "runAfter": {
                    "HTTP_Add_to_Cycle1": [
                      "Failed",
                      "Skipped",
                      "TimedOut"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "5af510cb-ba03-4864-bafd-725f3c0954b9"
                  },
                  "type": "Scope"
                }
              },
              "runAfter": {
                "Get_items_GroupsList": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "8d23d370-dbb8-461b-bab2-6cfdd0280bee"
              },
              "type": "Foreach"
            },
            "Get_items_GroupsList": {
              "runAfter": {
                "Condition_sign_up_microsoft": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "af2f5e3f-86a2-4533-a19a-6ba235afdc61"
              },
              "type": "OpenApiConnection",
              "inputs": {
                "host": {
                  "connectionName": "shared_sharepointonline",
                  "operationId": "GetItems",
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                },
                "parameters": {
                  "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                  "table": "GroupsList",
                  "$filter": "Cycle1GroupName eq '@{if(equals(string(split(variables('state'), '/')?[2]), ''), concat(parameters('envpar_config__CyclesRename (new_envpar_config__CyclesRename)'), '1'), string(split(variables('state'), '/')?[2]))}'",
                  "$top": 1
                },
                "authentication": "@parameters('$authentication')"
              }
            },
            "HTTP_Already_user": {
              "runAfter": {
                "Set_variable_redirectUrl_2": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "acdec576-d2c2-4adc-830e-07e89a1fb9a8"
              },
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "https://graph.microsoft.com/v1.0/users/?$filter=mail eq '@{variables('email')}'",
                "headers": {
                  "Content-type": "application/json"
                },
                "authentication": {
                  "type": "ActiveDirectoryOAuth",
                  "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                  "audience": "https://graph.microsoft.com",
                  "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                  "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                }
              }
            },
            "Condition_Already_user": {
              "actions": {
                "HTTP_Add_invitation": {
                  "runAfter": {},
                  "metadata": {
                    "operationMetadataId": "ced9ff3e-78ed-47ae-825f-46d7e8b7c5fd"
                  },
                  "type": "Http",
                  "inputs": {
                    "method": "POST",
                    "uri": "https://graph.microsoft.com/v1.0/invitations",
                    "headers": {
                      "Content-type": "application/json"
                    },
                    "body": {
                      "invitedUserEmailAddress": "@{variables('email')}",
                      "sendInvitationMessage": false,
                      "invitedUserType": "Member",
                      "inviteRedirectUrl": "@{variables('redirectUrl')}"
                    },
                    "authentication": {
                      "type": "ActiveDirectoryOAuth",
                      "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                      "audience": "https://graph.microsoft.com",
                      "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                      "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                    }
                  }
                },
                "Set_variable_userId": {
                  "runAfter": {
                    "HTTP_Add_invitation": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "86adc7d6-b31d-4f17-981a-269b0b693b20"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "userId",
                    "value": "@{body('Http_Add_invitation')?['invitedUser']?['id']}"
                  }
                },
                "Set_variable_responseBody": {
                  "runAfter": {
                    "Set_variable_userId": [
                      "Succeeded"
                    ]
                  },
                  "metadata": {
                    "operationMetadataId": "8631dc82-1ade-41fd-a898-a959fbf076da"
                  },
                  "type": "SetVariable",
                  "inputs": {
                    "name": "responseBody",
                    "value": "<html><head>\n<meta http-equiv=\"Refresh\" content=\"70; URL=@{variables('redirectUrl')}\">\n    <title>WorkSchool 365</title>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"Content-type\" content=\"text/html; charset=utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style type=\"text/css\">\n    body {\n        background-color: #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: -apple-system, system-ui, BlinkMacSystemFont, \"Segoe UI\", \"Open Sans\", \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n    }\n    div {\n        width: 600px;\n        margin: 5em auto;\n        padding: 2em;\n        background-color: #fdfdff;\n        border-radius: 0.5em;\n        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);\n    }\n    a:link, a:visited {\n        color: #38488f;\n        text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        div {\n            margin: 0 auto;\n            width: auto;\n        }\n    }\n    </style>    \n</head>\n<body>\n<div>\n    <h1>Wait 60 seconds to be automatically redirected to your signed-in personalized page... </h1>\n    <p><a href=\"@{variables('redirectUrl')}\">Click here to be redirected manually ( after 60 seconds 😊 ) </a> </p>\n</div>\n</body></html>"
                  }
                }
              },
              "runAfter": {
                "HTTP_Already_user": [
                  "Succeeded"
                ]
              },
              "else": {
                "actions": {
                  "Set_variable_userId_existing": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "74c85a46-f9ab-4b88-a78d-815f98ad6d87"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "userId",
                      "value": "@{body('HTTP_Already_user')?['value']?[0]?['id']}"
                    }
                  },
                  "Set_variable_responseBody_existing": {
                    "runAfter": {
                      "Set_variable_userId_existing": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "3ce99bfa-8676-4dd6-8bc4-636d386b6505"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "responseBody",
                      "value": "<html><head>\n<meta http-equiv=\"Refresh\" content=\"0; URL=@{variables('redirectUrl')}\">\n    <title>WorkSchool 365</title>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"Content-type\" content=\"text/html; charset=utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"> \n</head>\n<body>\n<div>\n    <h1>You are being automatically redirected to your signed-in personalized page... </h1>\n    <p><a href=\"@{variables('redirectUrl')}\">Click here to be redirected manually </a> </p>\n</div>\n</body></html>"
                    }
                  }
                }
              },
              "expression": {
                "equals": [
                  "@length(body('HTTP_Already_user')?['value'])",
                  "@0"
                ]
              },
              "metadata": {
                "operationMetadataId": "a6d7ae00-68da-471e-9277-066635002872"
              },
              "type": "If"
            }
          },
          "runAfter": {
            "Condition_sign_up_email": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Condition_sign": {
                "actions": {
                  "Set_variable_userId_2": {
                    "runAfter": {},
                    "metadata": {
                      "operationMetadataId": "3dd080d8-b2b8-4ff8-a560-a709e248861a"
                    },
                    "type": "SetVariable",
                    "inputs": {
                      "name": "userId",
                      "value": "@body('Parse_JSON_decode_token')?['oid']"
                    }
                  },
                  "HTTP_Get_user_identities": {
                    "runAfter": {
                      "Set_variable_userId_2": [
                        "Succeeded"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "ac0e500e-029d-495e-b3b6-4fb9cfca3b11"
                    },
                    "type": "Http",
                    "inputs": {
                      "method": "GET",
                      "uri": "https://graph.microsoft.com/v1.0/users/@{variables('userId')}/?$select=userPrincipalName,mail,mailNickname,otherMails,userType,creationType,proxyAddresses,externalUserState,externalUserStateChangeDateTime,identities,assignedLicenses,assignedPlans,usageLocation,createdDateTime",
                      "authentication": {
                        "type": "ActiveDirectoryOAuth",
                        "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                        "audience": "https://graph.microsoft.com",
                        "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                        "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                      },
                      "retryPolicy": {
                        "type": "none"
                      }
                    }
                  },
                  "Scope_4": {
                    "actions": {},
                    "runAfter": {
                      "HTTP_Get_user_identities": [
                        "Failed",
                        "Skipped",
                        "TimedOut"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "a18bf584-92a8-46d0-a5a8-8460d2f9b311"
                    },
                    "type": "Scope"
                  },
                  "Parse_JSON_identities": {
                    "runAfter": {
                      "Scope_4": [
                        "Skipped"
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "b3a1de73-263c-4413-9b2e-0e10d0ff1925"
                    },
                    "type": "ParseJson",
                    "inputs": {
                      "content": "@body('HTTP_Get_user_identities')",
                      "schema": {
                        "type": "object",
                        "properties": {
                          "creationType": {},
                          "externalUserState": {},
                          "externalUserStateChangeDateTime": {},
                          "createdDateTime": {
                            "type": "string"
                          },
                          "identities": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "signInType": {
                                  "type": "string"
                                },
                                "issuer": {
                                  "type": "string"
                                },
                                "issuerAssignedId": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "signInType",
                                "issuer",
                                "issuerAssignedId"
                              ]
                            }
                          }
                        }
                      }
                    }
                  },
                  "Condition_recent_SelfServiceSignup": {
                    "actions": {
                      "Get_items_GroupsList_2": {
                        "runAfter": {
                          "Condition_facebook_NONEED_ARCHIVE": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "90849a1a-c1fe-47ac-993d-3bf8b6df44c5"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sharepointonline",
                            "operationId": "GetItems",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                          },
                          "parameters": {
                            "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                            "table": "GroupsList",
                            "$filter": "Cycle1GroupName eq '@{if(equals(string(split(variables('state'), '/')?[2]), ''), concat(parameters('envpar_config__CyclesRename (new_envpar_config__CyclesRename)'), '1'), string(split(variables('state'), '/')?[2]))}'",
                            "$top": 1
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Apply_to_each_GroupsList_2": {
                        "foreach": "@outputs('Get_items_GroupsList_2')?['body/value']",
                        "actions": {
                          "HTTP_Add_to_Cycle1GroupName_2": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "cd2e5551-c549-454f-9354-4cab54db833c"
                            },
                            "type": "Http",
                            "inputs": {
                              "method": "POST",
                              "uri": "https://graph.microsoft.com/v1.0/groups/@{items('Apply_to_each_GroupsList_2')?['Cycle1GroupId']}/members/$ref",
                              "body": {
                                "@@odata.id": "https://graph.microsoft.com/v1.0/directoryObjects/@{variables('userId')}"
                              },
                              "authentication": {
                                "type": "ActiveDirectoryOAuth",
                                "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                                "audience": "https://graph.microsoft.com",
                                "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                                "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                              }
                            }
                          },
                          "Scope_2": {
                            "actions": {},
                            "runAfter": {
                              "HTTP_Add_to_Cycle1GroupName_2": [
                                "Failed",
                                "Skipped",
                                "TimedOut"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "0d5df4df-35d4-4437-acea-3ab6079ec60b"
                            },
                            "type": "Scope"
                          }
                        },
                        "runAfter": {
                          "Get_items_GroupsList_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "c086514a-9ffc-4dd6-903b-2c3053cbbc92"
                        },
                        "type": "Foreach"
                      },
                      "Create_item_LogsList_3": {
                        "runAfter": {
                          "Apply_to_each_GroupsList_2": [
                            "Succeeded"
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "da1c92ae-25c8-46bd-8a30-49a9b1d168be"
                        },
                        "type": "OpenApiConnection",
                        "inputs": {
                          "host": {
                            "connectionName": "shared_sharepointonline",
                            "operationId": "PostItem",
                            "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
                          },
                          "parameters": {
                            "dataset": "https://@{parameters('envpar_config__TenantName (new_envpar_config__TenantName)')}.sharepoint.com/sites/@{parameters('envpar_config__CycleZeroName (new_envpar_config__CycleZeroName)')}",
                            "table": "LogsList",
                            "item/Title": "Created 1 user @{variables('email')} by SelfServiceSignup recently",
                            "item/Resource": "UsersList",
                            "item/ResourceId": "@variables('email')",
                            "item/ChangeType": "CREATE",
                            "item/Source": "cycle0__AzureAD_Signed"
                          },
                          "authentication": "@parameters('$authentication')"
                        }
                      },
                      "Condition_facebook_NONEED_ARCHIVE": {
                        "actions": {
                          "HTTP_Reinvite_send_message": {
                            "runAfter": {
                              "Set_variable_redirectUrl_3": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "20838121-652e-44e0-9f91-b417947f4857"
                            },
                            "type": "Http",
                            "inputs": {
                              "method": "POST",
                              "uri": "https://graph.microsoft.com/v1.0/invitations",
                              "body": {
                                "invitedUserEmailAddress": "@{variables('email')}",
                                "sendInvitationMessage": true,
                                "invitedUserType": "Member",
                                "inviteRedirectUrl": "@{variables('redirectUrl')}",
                                "invitedUserMessageInfo": {
                                  "customizedMessageBody": "Your sign-up was successful and your account has been created. However, due to some limitations with FACEBOOK sign-in, please NEXT TIMES ALWAYS SIGN-IN  USING INSTEAD YOUR LINKED EMAIL :  @{variables('email')}. Continue now your first sign-in by clicking « Accept Invitation » "
                                }
                              },
                              "authentication": {
                                "type": "ActiveDirectoryOAuth",
                                "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                                "audience": "https://graph.microsoft.com",
                                "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                                "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                              }
                            }
                          },
                          "HTTP_Delete_facebook_user": {
                            "runAfter": {
                              "HTTP_RevokeSignInSessions": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "4bab7b3d-6120-4d90-a1ad-2ed39761873f"
                            },
                            "type": "Http",
                            "inputs": {
                              "method": "DELETE",
                              "uri": "https://graph.microsoft.com/v1.0/users/@{variables('userId')}",
                              "authentication": {
                                "type": "ActiveDirectoryOAuth",
                                "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                                "audience": "https://graph.microsoft.com",
                                "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                                "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                              }
                            }
                          },
                          "Set_variable_userId_3": {
                            "runAfter": {
                              "Set_variable_responseBody_3": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "e41cb850-3224-4c3c-87e4-98f6db190be8"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "userId",
                              "value": "@body('Parse_JSON_Invite')?['invitedUser']?['id']"
                            }
                          },
                          "HTTP_RevokeSignInSessions": {
                            "runAfter": {},
                            "metadata": {
                              "operationMetadataId": "4d0f456c-5957-47d2-886b-f21f5d4061de"
                            },
                            "type": "Http",
                            "inputs": {
                              "method": "POST",
                              "uri": "https://graph.microsoft.com/v1.0/users/@{variables('userId')}/revokeSignInSessions",
                              "authentication": {
                                "type": "ActiveDirectoryOAuth",
                                "tenant": "@parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')",
                                "audience": "https://graph.microsoft.com",
                                "clientId": "@parameters('envpar_config__GraphAppId (new_envpar_config__GraphAppId)')",
                                "secret": "@parameters('envpar_config__GraphAppSecret (new_envpar_config__GraphAppSecret)')"
                              }
                            }
                          },
                          "Set_variable_responseBody_3": {
                            "runAfter": {
                              "Set_variable_redirectUrl_4": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "d28cff00-2621-4d4d-bfa0-61c88f256687"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "responseBody",
                              "value": "<html><head>\n<meta http-equiv=\"Refresh\" content=\"30; URL=@{variables('redirectUrl')}\">\n    <title>WorkSchool 365</title>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"Content-type\" content=\"text/html; charset=utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style type=\"text/css\">\n    body {\n        background-color: #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: -apple-system, system-ui, BlinkMacSystemFont, \"Segoe UI\", \"Open Sans\", \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n    }\n    div {\n        width: 600px;\n        margin: 5em auto;\n        padding: 2em;\n        background-color: #fdfdff;\n        border-radius: 0.5em;\n        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);\n    }\n    a:link, a:visited {\n        color: #38488f;\n        text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        div {\n            margin: 0 auto;\n            width: auto;\n        }\n    }\n    </style>    \n</head>\n<body>\n<div>\n    <h1>You are being automatically redirected to your signed-in personalized page... </h1>\n<h2> Your sign-up was successful and your account has been created. However, due to some limitations with FACEBOOK sign-in, please NEXT TIMES ALWAYS SIGN-IN USING INSTEAD YOUR LINKED EMAIL :  @{variables('email')} </h2>\n    <p><a href=\"@{variables('redirectUrl')}\">Click here to be redirected manually  ( or wait 30 seconds 😊 )  </a> </p>\n</div>\n</body></html>"
                            }
                          },
                          "Set_variable_redirectUrl_4": {
                            "runAfter": {
                              "Parse_JSON_Invite": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "c5b9a748-6ddf-4cf8-88bb-6dc80a51a1af"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "redirectUrl",
                              "value": "@body('Parse_JSON_Invite')?['inviteRedeemUrl']"
                            }
                          },
                          "Parse_JSON_Invite": {
                            "runAfter": {
                              "HTTP_Reinvite_send_message": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "487065f2-5024-43d9-bad1-c7f431ef35cf"
                            },
                            "type": "ParseJson",
                            "inputs": {
                              "content": "@body('HTTP_Reinvite_send_message')",
                              "schema": {
                                "type": "object",
                                "properties": {
                                  "inviteRedeemUrl": {
                                    "type": "string"
                                  },
                                  "invitedUser": {
                                    "type": "object",
                                    "properties": {
                                      "id": {
                                        "type": "string"
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "Set_variable_redirectUrl_3": {
                            "runAfter": {
                              "Delay_at_least_5_seconds": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "ee54cfb4-d560-4724-85e8-fc0d2c400d85"
                            },
                            "type": "SetVariable",
                            "inputs": {
                              "name": "redirectUrl",
                              "value": "https://login.microsoftonline.com/@{parameters('envpar_config__TenantDomain (new_envpar_config__TenantDomain)')}/oauth2/v2.0/authorize?client_id=@{parameters('envpar_config__LoginAppId (new_envpar_config__LoginAppId)')}&response_mode=query&response_type=code&scope=https%3A%2F%2Fgraph.microsoft.com%2Fuser.read&login_hint=@{uriComponent(variables('email'))}&redirect_uri=@{uriComponent(parameters('envpar_http__AzureAD_Signed (new_envpar_http__AzureAD_Signed)'))}&state=%2Fsign"
                            }
                          },
                          "Delay_at_least_5_seconds": {
                            "runAfter": {
                              "HTTP_Delete_facebook_user": [
                                "Succeeded"
                              ]
                            },
                            "metadata": {
                              "operationMetadataId": "bbe09281-7e48-4106-90b8-340715954f6b"
                            },
                            "type": "Wait",
                            "inputs": {
                              "interval": {
                                "count": 5,
                                "unit": "Second"
                              }
                            }
                          }
                        },
                        "runAfter": {
                          "Select_identities": [
                            "Succeeded"
                          ]
                        },
                        "else": {
                          "actions": {
                            "Set_variable_responseBody_not_facebook_delay30sec": {
                              "runAfter": {},
                              "metadata": {
                                "operationMetadataId": "08cdfa70-66cc-4290-817f-d113a8bd40c8"
                              },
                              "type": "SetVariable",
                              "inputs": {
                                "name": "responseBody",
                                "value": "<html><head>\n<meta http-equiv=\"Refresh\" content=\"60; URL=@{variables('redirectUrl')}\">\n    <title>WorkSchool 365</title>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"Content-type\" content=\"text/html; charset=utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style type=\"text/css\">\n    body {\n        background-color: #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: -apple-system, system-ui, BlinkMacSystemFont, \"Segoe UI\", \"Open Sans\", \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n    }\n    div {\n        width: 600px;\n        margin: 5em auto;\n        padding: 2em;\n        background-color: #fdfdff;\n        border-radius: 0.5em;\n        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);\n    }\n    a:link, a:visited {\n        color: #38488f;\n        text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        div {\n            margin: 0 auto;\n            width: auto;\n        }\n    }\n    </style>    \n</head>\n<body>\n<div>\n    <h1>You are being automatically redirected to your signed-in personalized page... </h1>\n    <p><a href=\"@{variables('redirectUrl')}\">Click here to be redirected manually  ( or wait 60 seconds 😊 )</a> </p>\n</div>\n</body></html>"
                              }
                            }
                          }
                        },
                        "expression": {
                          "and": [
                            {
                              "contains": [
                                "@body('Select_identities')",
                                "@json('{\"issuer\": \"facebook.com\"}')"
                              ]
                            },
                            {
                              "equals": [
                                "@true",
                                "@false"
                              ]
                            }
                          ]
                        },
                        "metadata": {
                          "operationMetadataId": "27b05537-eaa0-49cd-8d9c-62c7c2d55738"
                        },
                        "type": "If"
                      },
                      "Select_identities": {
                        "runAfter": {},
                        "metadata": {
                          "operationMetadataId": "92db9e81-694a-4997-9a9b-1207dfbc906c"
                        },
                        "type": "Select",
                        "inputs": {
                          "from": "@body('Parse_JSON_identities')?['identities']",
                          "select": {
                            "issuer": "@item()['issuer']"
                          }
                        }
                      }
                    },
                    "runAfter": {
                      "Parse_JSON_identities": [
                        "Succeeded"
                      ]
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@body('Parse_JSON_identities')?['creationType']",
                            "SelfServiceSignup"
                          ]
                        },
                        {
                          "equals": [
                            "@less( ticks(utcNow()) , ticks(addMinutes(body('Parse_JSON_identities')?['createdDateTime'], 10)) )",
                            "@true"
                          ]
                        }
                      ]
                    },
                    "metadata": {
                      "operationMetadataId": "cf21379e-2f34-4bac-b30b-bc77fda6edcd"
                    },
                    "type": "If"
                  }
                },
                "runAfter": {
                  "Set_variable_responseBody_2": [
                    "Succeeded"
                  ]
                },
                "expression": {
                  "or": [
                    {
                      "equals": [
                        "@split(variables('state'), '/')?[1]",
                        "sign"
                      ]
                    },
                    {
                      "not": {
                        "equals": [
                          "@string(triggerOutputs()?['queries']?['code'])",
                          "@''"
                        ]
                      }
                    }
                  ]
                },
                "metadata": {
                  "operationMetadataId": "5208f879-ec28-411b-ab6d-0a2ad2ea6cbc"
                },
                "type": "If"
              },
              "Set_variable_redirectUrl": {
                "runAfter": {},
                "metadata": {
                  "operationMetadataId": "055d7ce5-dbc8-4f1c-93f1-5cd7a615c1cb"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "redirectUrl",
                  "value": "@{concat('https://', parameters('envpar_config__TenantName (new_envpar_config__TenantName)'), '.sharepoint.com/sites/', if(equals(string(split(variables('state'), '/')?[2]), ''), concat(parameters('envpar_config__CyclesRename (new_envpar_config__CyclesRename)'), '1'), string(split(variables('state'), '/')?[2])))}"
                }
              },
              "Set_variable_responseBody_2": {
                "runAfter": {
                  "Set_variable_redirectUrl": [
                    "Succeeded"
                  ]
                },
                "metadata": {
                  "operationMetadataId": "396ef104-2319-4c0c-8d54-fb767f768f09"
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "responseBody",
                  "value": "<html><head>\n<meta http-equiv=\"Refresh\" content=\"0; URL=@{variables('redirectUrl')}\">\n    <title>WorkSchool 365</title>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"Content-type\" content=\"text/html; charset=utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <style type=\"text/css\">\n    body {\n        background-color: #f0f0f2;\n        margin: 0;\n        padding: 0;\n        font-family: -apple-system, system-ui, BlinkMacSystemFont, \"Segoe UI\", \"Open Sans\", \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n    }\n    div {\n        width: 600px;\n        margin: 5em auto;\n        padding: 2em;\n        background-color: #fdfdff;\n        border-radius: 0.5em;\n        box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);\n    }\n    a:link, a:visited {\n        color: #38488f;\n        text-decoration: none;\n    }\n    @media (max-width: 700px) {\n        div {\n            margin: 0 auto;\n            width: auto;\n        }\n    }\n    </style>\n</head>\n<body>\n<div>\n    <h1>You are being automatically redirected to your signed-in personalized page... </h1>\n    <p><a href=\"@{variables('redirectUrl')}\">Click here to be redirected manually ( after 1 seconds 😊 ) </a> </p>\n</div>\n</body></html>"
                }
              }
            }
          },
          "expression": {
            "or": [
              {
                "equals": [
                  "@split(variables('state'), '/')?[1]",
                  "sign_up_microsoft"
                ]
              },
              {
                "equals": [
                  "@split(variables('state'), '/')?[1]",
                  "sign_up_email"
                ]
              }
            ]
          },
          "metadata": {
            "operationMetadataId": "e18ae5c4-4250-415f-a1b7-955715a20ee1"
          },
          "type": "If"
        },
        "Condition_sign_teams": {
          "actions": {
            "Set_variable_responseBody_teams": {
              "runAfter": {
                "Set_variable_redirectUrl_teams": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "35f23a1a-9539-47a4-a73a-02577f814247"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "responseBody",
                "value": "<html><head>\n<meta http-equiv=\"Refresh\" content=\"0; URL=@{variables('redirectUrl')}\">\n    <title>WorkSchool 365</title>\n</head>\n<body>\n<div>\n    <h1>Wait 1 second to be automatically redirected to your signed-in personalized page... </h1>\n    <p><a href=\"@{variables('redirectUrl')}\">Click here to be redirected manually ( after 1 seconds 😊 ) </a> </p>\n</div>\n</body></html>"
              }
            },
            "Set_variable_redirectUrl_teams": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "a1132765-0b33-4b2b-a094-d46d53c4cd5d"
              },
              "type": "SetVariable",
              "inputs": {
                "name": "redirectUrl",
                "value": "https://admin.workschool365.com/connect-end.html"
              }
            },
            "Response_teams": {
              "runAfter": {
                "Set_variable_responseBody_teams": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "2dba7c54-fd03-46c2-bb7d-84d3e16d96a1"
              },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "headers": {
                  "content-type": "text/html"
                },
                "body": "@variables('responseBody')"
              }
            },
            "Terminate_teams": {
              "runAfter": {
                "Response_teams": [
                  "Succeeded"
                ]
              },
              "metadata": {
                "operationMetadataId": "4614ccf4-a8eb-4084-b4ea-b160c63bc7df"
              },
              "type": "Terminate",
              "inputs": {
                "runStatus": "Succeeded"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_responseBody": [
              "Succeeded"
            ]
          },
          "expression": {
            "equals": [
              "@split(variables('state'), '/')?[1]",
              "sign_teams"
            ]
          },
          "metadata": {
            "operationMetadataId": "5645075a-e4f7-4e57-b854-92125032a208"
          },
          "type": "If"
        }
      }
    }
  },
  "schemaVersion": "1.0.0.0"
}